@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import 'libs/keyframes';
@import 'font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Source+Sans+Pro:400,600,700');

/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)',
		xxsmall: '(max-width: 360px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border',
		grid: ( gutters: _size(gutter) ),
		breakpoints: (
			medium: (
				grid: ( gutters: _size(gutter-medium) )
			),
			small: (
				grid: ( gutters: _size(gutter-small) )
			)
		)
	));

	@mixin color($p) {
		@include color-typography($p);
		@include color-box($p);
		@include color-button($p);
		@include color-form($p);
		@include color-list($p);
		@include color-section($p);
		@include color-table($p);
		@include color-posts($p);
	}

// Base.

	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/box';
	@import 'components/button';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/section';
	@import 'components/table';
	@import 'components/posts';

// Layout.

	@import 'layout/http_error';
	@import 'layout/header';
	@import 'layout/wrapper';
	@import 'layout/alerts';
	@import 'layout/login';
	@import 'layout/banner';
	@import 'layout/main';
	@import 'layout/footer';
	@import 'layout/profile';
	@import 'layout/brand';
	@import 'layout/menu';
