///
/// Polymorph by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Form */

	form {
		margin: 0 0 _size(element-margin) 0;
		margin-top: 0;

		&:after {
			content: '';
			display: block;
			clear: both;
			height: 1px;
		}

		.field {
			position: relative;
			float: left;
			margin: 0 0 (_size(gutter) * 0.5) 0;
			vertical-align: top;
			width: 100%;
		}

		.half {
			width: calc(50% + #{_size(gutter) * 0.25}) !important;
			padding-left: _size(gutter) * 0.5;
		}

		.half.first {
			width: calc(50% - #{_size(gutter) * 0.25}) !important;
			padding-left: 0;
		}

		:last-child {
			margin-bottom: 0;
		}

		.half:nth-last-child(2) {
			margin-bottom: 0;
		}

		.actions {
			position: relative;
			clear: both;
			margin-bottom: 0 !important;
		}

		@include breakpoint(medium) {
			.half {
				width: 100% !important;
				padding-left: 0;
			}

			.half.first {
				width: 100% !important;
				padding-left: 0;
			}

			.half:nth-last-child(2) {
				margin: 0 0 (_size(element-margin) * 0.65) 0;
			}
		}


	}

	input[type='range']  {
		-webkit-appearance: none ;
	}
	input[type='range']::-webkit-slider-runnable-track {
		-webkit-appearance: none ;
		appearance: none ;
		border-radius: 5px;
		box-shadow: inset 1px 1px 1px _palette(border2-bg);
		background-color: _palette(border2-bg);
		height: 4px;
		vertical-align:middle;
		border: none;
		cursor: pointer;
	}
	input[type='range']::-webkit-slider-thumb {
		-webkit-appearance: none;
		border-radius: 100%;
		background-color: _palette(fg);
		box-shadow: none;
		height: 22px;
		width: 22px;
		vertical-align:middle;
		border: none;
		cursor: pointer;
		margin-top: -6px;
	}
	input[type='range']::-webkit-slider-thumb:hover {
		box-shadow: inset 0 0 0 1px _palette(accent1, bg), inset 0 0 1px _palette(accent1, bg), inset 0 0 0 1px _palette(accent1, bg);
		background: lighten(_palette(fg), 5);
	}
	input[type='range']:active::-webkit-slider-thumb {
		box-shadow: inset 0 0 0 1px _palette(accent1, bg), inset 0 0 1px _palette(accent1, bg), inset 0 0 0 1px _palette(accent1, bg);
		background: lighten(_palette(fg), 5);
	}
	input[type='range']::-moz-range-track{
		-moz-appearance: none ;
		border-radius: 5px;
		box-shadow: inset 1px 1px 1px _palette(border2-bg);
		background-color: _palette(border2-bg);
		height: 4px;
		vertical-align:middle;
		margin:0; padding:0;
		border: none;
		cursor: pointer;
	}
	input[type='range']::-moz-range-thumb {
		-moz-appearance: none ;
		border-radius: 100%;
		background-color: _palette(fg);
		box-shadow: none;
		height: 22px;
		width: 22px;
		vertical-align:middle;
		border: none;
		cursor: pointer;
		margin-top: -6px;
	}
	input[type='range']::-moz-range-thumb:hover {
		box-shadow: inset 0 0 0 1px _palette(accent1, bg), inset 0 0 1px _palette(accent1, bg), inset 0 0 0 1px _palette(accent1, bg);
		background: lighten(_palette(fg), 5);
	}
	input[type='range']:active::-moz-range-thumb {
		box-shadow: inset 0 0 0 1px _palette(accent1, bg), inset 0 0 1px _palette(accent1, bg), inset 0 0 0 1px _palette(accent1, bg);
		background: lighten(_palette(fg), 5);
	}
	input[type=range]::-ms-track {
		width: 100%;
		height: 4px;
		cursor: pointer;
		animate: 0.2s;
		background: transparent;
		border-color: transparent;
		border-width: 39px 0;
		color: transparent;
	}
	input[type=range]::-ms-fill-lower {
		background: _palette(fg-light);
		border: 0px solid _palette(fg-light);
		border-radius: 50px;
		box-shadow: 0px 0px 0px _palette(fg-light), 0px 0px 0px _palette(fg-light);
	}
	input[type=range]::-ms-fill-upper {
		background: _palette(fg-light);
		border: 0px solid _palette(fg-light);
		border-radius: 50px;
		box-shadow: 0px 0px 0px _palette(fg-light), 0px 0px 0px _palette(fg-light);
	}
	input[type=range]::-ms-thumb {
		box-shadow: inset 0 0 0 1px _palette(accent1, bg), inset 0 0 1px _palette(accent1, bg), inset 0 0 0 1px _palette(accent1, bg);
		border: 0px solid _palette(fg-light);
		height: 22px;
		width: 22px;
		border-radius: 100%;
		background: _palette(fg);
		cursor: pointer;
		margin-top: -2px;
	}

	#recaptcha_resize {
		transform: scale(0.84);
		transform-origin: 0 0;
  }

	@include breakpoint(small) {
		#recaptcha_resize_register {
			transform: scale(0.84);
			transform-origin: 0 0;
	  }

		/// Edit responsive ajust in login with recaptcha
		#recaptcha_resize {
			transform: scale(0.70);
			transform-origin: 0 0;
	  }
	}

	.form_warning{
		font-size: 1em;
		color: _palette(notifications, warning);

		& p {
			padding: 0;
			border-left: 0;
			margin-bottom: 1em;
			@include icon;

			&:before {
				content: '\f071';
				margin-right: 0.6em;
			}
		}
		@include breakpoint(medium) {
			& p{
				border-top: 0;
				margin-top: 0;
			}
		}
	}

	label {
		display: block;
		font-size: 0.9em;
		font-weight: _font(weight-bold);
		margin: 0 0 (_size(element-margin) * 0.5) 0;
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		@include vendor('appearance', 'none');
		border-radius: 0;
		border: none;
		border: solid 1px;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;

		&:invalid {
			box-shadow: none;
		}
	}

	.select-wrapper {
		@include icon;
		display: block;
		position: relative;

		&:before {
			content: '\f078';
			display: block;
			height: _size(element-height);
			line-height: _size(element-height);
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: _size(element-height);
		}

		select::-ms-expand {
			display: none;
		}
	}

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		height: _size(element-height);
	}

	textarea {
		padding: 0.75em 1em;
	}

	input[type="checkbox"],
	input[type="radio"], {
		@include vendor('appearance', 'none');
		display: block;
		float: left;
		margin-right: -2em;
		opacity: 0;
		width: 1em;
		z-index: -1;

		& + label {
			@include icon;
			cursor: pointer;
			display: inline-block;
			font-size: 1em;
			font-weight: _font(weight);
			padding-left: (_size(element-height) * 0.6) + 0.75em;
			padding-right: 0.75em;
			position: relative;

			&:before {
				border: solid 1px;
				content: '';
				display: inline-block;
				height: (_size(element-height) * 0.6);
				left: 0;
				line-height: (_size(element-height) * 0.575);
				position: absolute;
				text-align: center;
				top: 0;
				width: (_size(element-height) * 0.6);
			}
		}

		&:checked + label {
			&:before {
				content: '\f00c';
			}
		}
	}

	input[type="checkbox"] {
		& + label {
			&:before {
			}
		}
	}

	input[type="radio"] {
		& + label {
			&:before {
				border-radius: 100%;
			}
		}
	}

	::-webkit-input-placeholder {
		opacity: 1.0;
	}

	:-moz-placeholder {
		opacity: 1.0;
	}

	::-moz-placeholder {
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		opacity: 1.0;
	}

	.formerize-placeholder {
		opacity: 1.0;
	}

	@mixin color-form($p: null) {
		$highlight: _palette($p, highlight);

		label {
			color: _palette($p, fg-bold);
		}

		input[type="text"],
		input[type="password"],
		input[type="email"],
		select,
		textarea {
			background: _palette($p, border-bg);
			border-color: _palette($p, border);

			&:focus {
				@if $p == $highlight {
					border-color: _palette($p, fg-bold);
					box-shadow: 0 0 0 1px _palette($p, fg-bold);
				}
				@else {
					border-color: _palette(accent1, bg);
					box-shadow: 0 0 0 1px _palette(accent1, bg);
				}
			}
		}

		.select-wrapper {
			&:before {
				color: _palette($p, border);
			}
		}

		input[type="checkbox"],
		input[type="radio"], {
			& + label {
				color: _palette($p, fg);

				&:before {
					background: _palette($p, border-bg);
					border-color: _palette($p, border);
				}
			}

			&:checked + label {
				&:before {
					background-color: _palette($p, fg-bold);
					color: _palette($p, bg);
					border-color: _palette($p, fg-bold);
				}
			}

			&:focus + label {
				&:before {
					@if $p == $highlight {
						border-color: _palette($p, fg-bold);
						box-shadow: 0 0 0 1px _palette($p, fg-bold);
					}
					@else {
						border-color: _palette(accent1, bg);
						box-shadow: 0 0 0 1px _palette(accent1, bg);
					}
				}
			}
		}

		::-webkit-input-placeholder {
			color: _palette($p, fg-light) !important;
		}

		:-moz-placeholder {
			color: _palette($p, fg-light) !important;
		}

		::-moz-placeholder {
			color: _palette($p, fg-light) !important;
		}

		:-ms-input-placeholder {
			color: _palette($p, fg-light) !important;
		}

		.formerize-placeholder {
			color: _palette($p, fg-light) !important;
		}
	}

	@include color-form;
