/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/

/* Type */

	body {
		background-color: _palette(bg);
		color: _palette(fg);
	}

	body, input, select, textarea {
		font-family: _font(family);
		font-size: 16pt;
		font-weight: _font(weight);
		line-height: 1.6;

		@include breakpoint(xlarge) {
			font-size: 13pt;
		}

		@include breakpoint(large) {
			font-size: 12pt;
		}

		@include breakpoint(xxsmall) {
			font-size: 11pt;
		}
	}

	a {
		@include vendor('transition', (
			'border-bottom-color #{_duration(transition)} ease-in-out',
			'color #{_duration(transition)} ease-in-out'
		));
		text-decoration: none;
		color: _palette(accent1,bg);

		&:before {
			@include vendor('transition', (
				'color #{_duration(transition)} ease-in-out'
			));
		}

		&:hover {
			color: _palette(accent1, bg) !important;
			border-bottom-color: transparent;

			&:before {
				color: _palette(accent1, bg) !important;
			}
		}
	}

	strong, b {
		font-weight: _font(weight-bold);
	}

	em, i {
		font-style: italic;
	}

	p {
		margin: 0 0 _size(element-margin) 0;
		text-align: justify;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: _font(weight-bold);
		font-family: _font(family-cr);
		line-height: 1.3;
		margin: (_size(element-margin) * 1.25) 0 (_size(element-margin) * 0.5) 0;
		letter-spacing: _font(letter-spacing-heading);

		a {
			border-bottom: 0;
			color: inherit;
			text-decoration: none;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	h2 {
		font-size: 1.35em;
	}

	h3 {
		font-size: 1.2em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	@include breakpoint(small) {
		h2 {
			font-size: 1.25em;
		}

		h3 {
			font-size: 1em;
		}
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px;
		font-style: italic;
		margin: 0 0 _size(element-margin) 0;
		padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
	}

	code {
		border: solid 1px;
		font-family: _font(family-fixed);
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: _font(family-fixed);
		font-size: 0.9em;
		margin: 0 0 _size(element-margin) 0;

		code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}
	}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: _size(element-margin) 0;

		&.major {
			margin: (_size(element-margin) * 1.5) 0;
		}
	}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	.legal {
		font-size: 0.8em;
	}

	@mixin color-typography($p: null) {
		$highlight: _palette($p, highlight);

		@if $p != null {
			background-color: _palette($p, bg);
			color: _palette($p, fg);
		}

		input, select, textarea {
			color: _palette($p, fg-bold);
		}

		a {
			@if $p == $highlight {
				color: _palette($p, fg-bold);
			}
			@else {
				color: _palette(accent1, bg);
			}
		}

		strong, b {
			color: _palette($p, fg-bold);
		}

		h1, h2, h3, h4, h5, h6 {
			color: _palette($p, fg-bold) !important;
		}

		blockquote {
			border-left-color: _palette($p, border);
		}

		code {
			background: _palette($p, border-bg);
			border-color: _palette($p, border);
		}

		hr {
			border-bottom-color: _palette($p, border);
		}
	}

	@include color-typography;
