@charset "UTF-8";
@import 'font-awesome.min.css';
@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700|Source+Sans+Pro:400,600,700");
/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* Box Model */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Grid */
.row {
  border-bottom: solid 1px transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row > * {
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.row:after, .row:before {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.row.uniform > * > :first-child {
  margin-top: 0;
}

.row.uniform > * > :last-child {
  margin-bottom: 0;
}

.row.\30 \% > * {
  padding: 0 0 0 0em;
}

.row.\30 \% {
  margin: 0 0 -1px 0em;
}

.row.uniform.\30 \% > * {
  padding: 0em 0 0 0em;
}

.row.uniform.\30 \% {
  margin: 0em 0 -1px 0em;
}

.row > * {
  padding: 0 0 0 2.75em;
}

.row {
  margin: 0 0 -1px -2.75em;
}

.row.uniform > * {
  padding: 2.75em 0 0 2.75em;
}

.row.uniform {
  margin: -2.75em 0 -1px -2.75em;
}

.row.\32 00\% > * {
  padding: 0 0 0 5.5em;
}

.row.\32 00\% {
  margin: 0 0 -1px -5.5em;
}

.row.uniform.\32 00\% > * {
  padding: 5.5em 0 0 5.5em;
}

.row.uniform.\32 00\% {
  margin: -5.5em 0 -1px -5.5em;
}

.row.\31 50\% > * {
  padding: 0 0 0 4.125em;
}

.row.\31 50\% {
  margin: 0 0 -1px -4.125em;
}

.row.uniform.\31 50\% > * {
  padding: 4.125em 0 0 4.125em;
}

.row.uniform.\31 50\% {
  margin: -4.125em 0 -1px -4.125em;
}

.row.\35 0\% > * {
  padding: 0 0 0 1.375em;
}

.row.\35 0\% {
  margin: 0 0 -1px -1.375em;
}

.row.uniform.\35 0\% > * {
  padding: 1.375em 0 0 1.375em;
}

.row.uniform.\35 0\% {
  margin: -1.375em 0 -1px -1.375em;
}

.row.\32 5\% > * {
  padding: 0 0 0 0.6875em;
}

.row.\32 5\% {
  margin: 0 0 -1px -0.6875em;
}

.row.uniform.\32 5\% > * {
  padding: 0.6875em 0 0 0.6875em;
}

.row.uniform.\32 5\% {
  margin: -0.6875em 0 -1px -0.6875em;
}

.\31 2u, .\31 2u\$ {
  width: 100%;
  clear: none;
  margin-left: 0;
}

.\31 1u, .\31 1u\$ {
  width: 91.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 0u, .\31 0u\$ {
  width: 83.3333333333%;
  clear: none;
  margin-left: 0;
}

.\39 u, .\39 u\$ {
  width: 75%;
  clear: none;
  margin-left: 0;
}

.\38 u, .\38 u\$ {
  width: 66.6666666667%;
  clear: none;
  margin-left: 0;
}

.\37 u, .\37 u\$ {
  width: 58.3333333333%;
  clear: none;
  margin-left: 0;
}

.\36 u, .\36 u\$ {
  width: 50%;
  clear: none;
  margin-left: 0;
}

.\35 u, .\35 u\$ {
  width: 41.6666666667%;
  clear: none;
  margin-left: 0;
}

.\34 u, .\34 u\$ {
  width: 33.3333333333%;
  clear: none;
  margin-left: 0;
}

.\33 u, .\33 u\$ {
  width: 25%;
  clear: none;
  margin-left: 0;
}

.\32 u, .\32 u\$ {
  width: 16.6666666667%;
  clear: none;
  margin-left: 0;
}

.\31 u, .\31 u\$ {
  width: 8.3333333333%;
  clear: none;
  margin-left: 0;
}

.\31 2u\$ + *,
.\31 1u\$ + *,
.\31 0u\$ + *,
.\39 u\$ + *,
.\38 u\$ + *,
.\37 u\$ + *,
.\36 u\$ + *,
.\35 u\$ + *,
.\34 u\$ + *,
.\33 u\$ + *,
.\32 u\$ + *,
.\31 u\$ + * {
  clear: left;
}

.\-11u {
  margin-left: 91.6666666667%;
}

.\-10u {
  margin-left: 83.3333333333%;
}

.\-9u {
  margin-left: 75%;
}

.\-8u {
  margin-left: 66.6666666667%;
}

.\-7u {
  margin-left: 58.3333333333%;
}

.\-6u {
  margin-left: 50%;
}

.\-5u {
  margin-left: 41.6666666667%;
}

.\-4u {
  margin-left: 33.3333333333%;
}

.\-3u {
  margin-left: 25%;
}

.\-2u {
  margin-left: 16.6666666667%;
}

.\-1u {
  margin-left: 8.3333333333%;
}

@media screen and (max-width: 1680px) {
  .row > * {
    padding: 0 0 0 2.75em;
  }

  .row {
    margin: 0 0 -1px -2.75em;
  }

  .row.uniform > * {
    padding: 2.75em 0 0 2.75em;
  }

  .row.uniform {
    margin: -2.75em 0 -1px -2.75em;
  }

  .row.\32 00\% > * {
    padding: 0 0 0 5.5em;
  }

  .row.\32 00\% {
    margin: 0 0 -1px -5.5em;
  }

  .row.uniform.\32 00\% > * {
    padding: 5.5em 0 0 5.5em;
  }

  .row.uniform.\32 00\% {
    margin: -5.5em 0 -1px -5.5em;
  }

  .row.\31 50\% > * {
    padding: 0 0 0 4.125em;
  }

  .row.\31 50\% {
    margin: 0 0 -1px -4.125em;
  }

  .row.uniform.\31 50\% > * {
    padding: 4.125em 0 0 4.125em;
  }

  .row.uniform.\31 50\% {
    margin: -4.125em 0 -1px -4.125em;
  }

  .row.\35 0\% > * {
    padding: 0 0 0 1.375em;
  }

  .row.\35 0\% {
    margin: 0 0 -1px -1.375em;
  }

  .row.uniform.\35 0\% > * {
    padding: 1.375em 0 0 1.375em;
  }

  .row.uniform.\35 0\% {
    margin: -1.375em 0 -1px -1.375em;
  }

  .row.\32 5\% > * {
    padding: 0 0 0 0.6875em;
  }

  .row.\32 5\% {
    margin: 0 0 -1px -0.6875em;
  }

  .row.uniform.\32 5\% > * {
    padding: 0.6875em 0 0 0.6875em;
  }

  .row.uniform.\32 5\% {
    margin: -0.6875em 0 -1px -0.6875em;
  }

  .\31 2u\(xlarge\), .\31 2u\$\(xlarge\) {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  .\31 1u\(xlarge\), .\31 1u\$\(xlarge\) {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 0u\(xlarge\), .\31 0u\$\(xlarge\) {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\39 u\(xlarge\), .\39 u\$\(xlarge\) {
    width: 75%;
    clear: none;
    margin-left: 0;
  }

  .\38 u\(xlarge\), .\38 u\$\(xlarge\) {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\37 u\(xlarge\), .\37 u\$\(xlarge\) {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\36 u\(xlarge\), .\36 u\$\(xlarge\) {
    width: 50%;
    clear: none;
    margin-left: 0;
  }

  .\35 u\(xlarge\), .\35 u\$\(xlarge\) {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\34 u\(xlarge\), .\34 u\$\(xlarge\) {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\33 u\(xlarge\), .\33 u\$\(xlarge\) {
    width: 25%;
    clear: none;
    margin-left: 0;
  }

  .\32 u\(xlarge\), .\32 u\$\(xlarge\) {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 u\(xlarge\), .\31 u\$\(xlarge\) {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\31 2u\$\(xlarge\) + *,
.\31 1u\$\(xlarge\) + *,
.\31 0u\$\(xlarge\) + *,
.\39 u\$\(xlarge\) + *,
.\38 u\$\(xlarge\) + *,
.\37 u\$\(xlarge\) + *,
.\36 u\$\(xlarge\) + *,
.\35 u\$\(xlarge\) + *,
.\34 u\$\(xlarge\) + *,
.\33 u\$\(xlarge\) + *,
.\32 u\$\(xlarge\) + *,
.\31 u\$\(xlarge\) + * {
    clear: left;
  }

  .\-11u\(xlarge\) {
    margin-left: 91.6666666667%;
  }

  .\-10u\(xlarge\) {
    margin-left: 83.3333333333%;
  }

  .\-9u\(xlarge\) {
    margin-left: 75%;
  }

  .\-8u\(xlarge\) {
    margin-left: 66.6666666667%;
  }

  .\-7u\(xlarge\) {
    margin-left: 58.3333333333%;
  }

  .\-6u\(xlarge\) {
    margin-left: 50%;
  }

  .\-5u\(xlarge\) {
    margin-left: 41.6666666667%;
  }

  .\-4u\(xlarge\) {
    margin-left: 33.3333333333%;
  }

  .\-3u\(xlarge\) {
    margin-left: 25%;
  }

  .\-2u\(xlarge\) {
    margin-left: 16.6666666667%;
  }

  .\-1u\(xlarge\) {
    margin-left: 8.3333333333%;
  }
}
@media screen and (max-width: 1280px) {
  .row > * {
    padding: 0 0 0 2.75em;
  }

  .row {
    margin: 0 0 -1px -2.75em;
  }

  .row.uniform > * {
    padding: 2.75em 0 0 2.75em;
  }

  .row.uniform {
    margin: -2.75em 0 -1px -2.75em;
  }

  .row.\32 00\% > * {
    padding: 0 0 0 5.5em;
  }

  .row.\32 00\% {
    margin: 0 0 -1px -5.5em;
  }

  .row.uniform.\32 00\% > * {
    padding: 5.5em 0 0 5.5em;
  }

  .row.uniform.\32 00\% {
    margin: -5.5em 0 -1px -5.5em;
  }

  .row.\31 50\% > * {
    padding: 0 0 0 4.125em;
  }

  .row.\31 50\% {
    margin: 0 0 -1px -4.125em;
  }

  .row.uniform.\31 50\% > * {
    padding: 4.125em 0 0 4.125em;
  }

  .row.uniform.\31 50\% {
    margin: -4.125em 0 -1px -4.125em;
  }

  .row.\35 0\% > * {
    padding: 0 0 0 1.375em;
  }

  .row.\35 0\% {
    margin: 0 0 -1px -1.375em;
  }

  .row.uniform.\35 0\% > * {
    padding: 1.375em 0 0 1.375em;
  }

  .row.uniform.\35 0\% {
    margin: -1.375em 0 -1px -1.375em;
  }

  .row.\32 5\% > * {
    padding: 0 0 0 0.6875em;
  }

  .row.\32 5\% {
    margin: 0 0 -1px -0.6875em;
  }

  .row.uniform.\32 5\% > * {
    padding: 0.6875em 0 0 0.6875em;
  }

  .row.uniform.\32 5\% {
    margin: -0.6875em 0 -1px -0.6875em;
  }

  .\31 2u\(large\), .\31 2u\$\(large\) {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  .\31 1u\(large\), .\31 1u\$\(large\) {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 0u\(large\), .\31 0u\$\(large\) {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\39 u\(large\), .\39 u\$\(large\) {
    width: 75%;
    clear: none;
    margin-left: 0;
  }

  .\38 u\(large\), .\38 u\$\(large\) {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\37 u\(large\), .\37 u\$\(large\) {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\36 u\(large\), .\36 u\$\(large\) {
    width: 50%;
    clear: none;
    margin-left: 0;
  }

  .\35 u\(large\), .\35 u\$\(large\) {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\34 u\(large\), .\34 u\$\(large\) {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\33 u\(large\), .\33 u\$\(large\) {
    width: 25%;
    clear: none;
    margin-left: 0;
  }

  .\32 u\(large\), .\32 u\$\(large\) {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 u\(large\), .\31 u\$\(large\) {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\31 2u\$\(large\) + *,
.\31 1u\$\(large\) + *,
.\31 0u\$\(large\) + *,
.\39 u\$\(large\) + *,
.\38 u\$\(large\) + *,
.\37 u\$\(large\) + *,
.\36 u\$\(large\) + *,
.\35 u\$\(large\) + *,
.\34 u\$\(large\) + *,
.\33 u\$\(large\) + *,
.\32 u\$\(large\) + *,
.\31 u\$\(large\) + * {
    clear: left;
  }

  .\-11u\(large\) {
    margin-left: 91.6666666667%;
  }

  .\-10u\(large\) {
    margin-left: 83.3333333333%;
  }

  .\-9u\(large\) {
    margin-left: 75%;
  }

  .\-8u\(large\) {
    margin-left: 66.6666666667%;
  }

  .\-7u\(large\) {
    margin-left: 58.3333333333%;
  }

  .\-6u\(large\) {
    margin-left: 50%;
  }

  .\-5u\(large\) {
    margin-left: 41.6666666667%;
  }

  .\-4u\(large\) {
    margin-left: 33.3333333333%;
  }

  .\-3u\(large\) {
    margin-left: 25%;
  }

  .\-2u\(large\) {
    margin-left: 16.6666666667%;
  }

  .\-1u\(large\) {
    margin-left: 8.3333333333%;
  }
}
@media screen and (max-width: 980px) {
  .row > * {
    padding: 0 0 0 2em;
  }

  .row {
    margin: 0 0 -1px -2em;
  }

  .row.uniform > * {
    padding: 2em 0 0 2em;
  }

  .row.uniform {
    margin: -2em 0 -1px -2em;
  }

  .row.\32 00\% > * {
    padding: 0 0 0 4em;
  }

  .row.\32 00\% {
    margin: 0 0 -1px -4em;
  }

  .row.uniform.\32 00\% > * {
    padding: 4em 0 0 4em;
  }

  .row.uniform.\32 00\% {
    margin: -4em 0 -1px -4em;
  }

  .row.\31 50\% > * {
    padding: 0 0 0 3em;
  }

  .row.\31 50\% {
    margin: 0 0 -1px -3em;
  }

  .row.uniform.\31 50\% > * {
    padding: 3em 0 0 3em;
  }

  .row.uniform.\31 50\% {
    margin: -3em 0 -1px -3em;
  }

  .row.\35 0\% > * {
    padding: 0 0 0 1em;
  }

  .row.\35 0\% {
    margin: 0 0 -1px -1em;
  }

  .row.uniform.\35 0\% > * {
    padding: 1em 0 0 1em;
  }

  .row.uniform.\35 0\% {
    margin: -1em 0 -1px -1em;
  }

  .row.\32 5\% > * {
    padding: 0 0 0 0.5em;
  }

  .row.\32 5\% {
    margin: 0 0 -1px -0.5em;
  }

  .row.uniform.\32 5\% > * {
    padding: 0.5em 0 0 0.5em;
  }

  .row.uniform.\32 5\% {
    margin: -0.5em 0 -1px -0.5em;
  }

  .\31 2u\(medium\), .\31 2u\$\(medium\) {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  .\31 1u\(medium\), .\31 1u\$\(medium\) {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 0u\(medium\), .\31 0u\$\(medium\) {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\39 u\(medium\), .\39 u\$\(medium\) {
    width: 75%;
    clear: none;
    margin-left: 0;
  }

  .\38 u\(medium\), .\38 u\$\(medium\) {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\37 u\(medium\), .\37 u\$\(medium\) {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\36 u\(medium\), .\36 u\$\(medium\) {
    width: 50%;
    clear: none;
    margin-left: 0;
  }

  .\35 u\(medium\), .\35 u\$\(medium\) {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\34 u\(medium\), .\34 u\$\(medium\) {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\33 u\(medium\), .\33 u\$\(medium\) {
    width: 25%;
    clear: none;
    margin-left: 0;
  }

  .\32 u\(medium\), .\32 u\$\(medium\) {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 u\(medium\), .\31 u\$\(medium\) {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\31 2u\$\(medium\) + *,
.\31 1u\$\(medium\) + *,
.\31 0u\$\(medium\) + *,
.\39 u\$\(medium\) + *,
.\38 u\$\(medium\) + *,
.\37 u\$\(medium\) + *,
.\36 u\$\(medium\) + *,
.\35 u\$\(medium\) + *,
.\34 u\$\(medium\) + *,
.\33 u\$\(medium\) + *,
.\32 u\$\(medium\) + *,
.\31 u\$\(medium\) + * {
    clear: left;
  }

  .\-11u\(medium\) {
    margin-left: 91.6666666667%;
  }

  .\-10u\(medium\) {
    margin-left: 83.3333333333%;
  }

  .\-9u\(medium\) {
    margin-left: 75%;
  }

  .\-8u\(medium\) {
    margin-left: 66.6666666667%;
  }

  .\-7u\(medium\) {
    margin-left: 58.3333333333%;
  }

  .\-6u\(medium\) {
    margin-left: 50%;
  }

  .\-5u\(medium\) {
    margin-left: 41.6666666667%;
  }

  .\-4u\(medium\) {
    margin-left: 33.3333333333%;
  }

  .\-3u\(medium\) {
    margin-left: 25%;
  }

  .\-2u\(medium\) {
    margin-left: 16.6666666667%;
  }

  .\-1u\(medium\) {
    margin-left: 8.3333333333%;
  }
}
@media screen and (max-width: 736px) {
  .row > * {
    padding: 0 0 0 1em;
  }

  .row {
    margin: 0 0 -1px -1em;
  }

  .row.uniform > * {
    padding: 1em 0 0 1em;
  }

  .row.uniform {
    margin: -1em 0 -1px -1em;
  }

  .row.\32 00\% > * {
    padding: 0 0 0 2em;
  }

  .row.\32 00\% {
    margin: 0 0 -1px -2em;
  }

  .row.uniform.\32 00\% > * {
    padding: 2em 0 0 2em;
  }

  .row.uniform.\32 00\% {
    margin: -2em 0 -1px -2em;
  }

  .row.\31 50\% > * {
    padding: 0 0 0 1.5em;
  }

  .row.\31 50\% {
    margin: 0 0 -1px -1.5em;
  }

  .row.uniform.\31 50\% > * {
    padding: 1.5em 0 0 1.5em;
  }

  .row.uniform.\31 50\% {
    margin: -1.5em 0 -1px -1.5em;
  }

  .row.\35 0\% > * {
    padding: 0 0 0 0.5em;
  }

  .row.\35 0\% {
    margin: 0 0 -1px -0.5em;
  }

  .row.uniform.\35 0\% > * {
    padding: 0.5em 0 0 0.5em;
  }

  .row.uniform.\35 0\% {
    margin: -0.5em 0 -1px -0.5em;
  }

  .row.\32 5\% > * {
    padding: 0 0 0 0.25em;
  }

  .row.\32 5\% {
    margin: 0 0 -1px -0.25em;
  }

  .row.uniform.\32 5\% > * {
    padding: 0.25em 0 0 0.25em;
  }

  .row.uniform.\32 5\% {
    margin: -0.25em 0 -1px -0.25em;
  }

  .\31 2u\(small\), .\31 2u\$\(small\) {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  .\31 1u\(small\), .\31 1u\$\(small\) {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 0u\(small\), .\31 0u\$\(small\) {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\39 u\(small\), .\39 u\$\(small\) {
    width: 75%;
    clear: none;
    margin-left: 0;
  }

  .\38 u\(small\), .\38 u\$\(small\) {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\37 u\(small\), .\37 u\$\(small\) {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\36 u\(small\), .\36 u\$\(small\) {
    width: 50%;
    clear: none;
    margin-left: 0;
  }

  .\35 u\(small\), .\35 u\$\(small\) {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\34 u\(small\), .\34 u\$\(small\) {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\33 u\(small\), .\33 u\$\(small\) {
    width: 25%;
    clear: none;
    margin-left: 0;
  }

  .\32 u\(small\), .\32 u\$\(small\) {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 u\(small\), .\31 u\$\(small\) {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\31 2u\$\(small\) + *,
.\31 1u\$\(small\) + *,
.\31 0u\$\(small\) + *,
.\39 u\$\(small\) + *,
.\38 u\$\(small\) + *,
.\37 u\$\(small\) + *,
.\36 u\$\(small\) + *,
.\35 u\$\(small\) + *,
.\34 u\$\(small\) + *,
.\33 u\$\(small\) + *,
.\32 u\$\(small\) + *,
.\31 u\$\(small\) + * {
    clear: left;
  }

  .\-11u\(small\) {
    margin-left: 91.6666666667%;
  }

  .\-10u\(small\) {
    margin-left: 83.3333333333%;
  }

  .\-9u\(small\) {
    margin-left: 75%;
  }

  .\-8u\(small\) {
    margin-left: 66.6666666667%;
  }

  .\-7u\(small\) {
    margin-left: 58.3333333333%;
  }

  .\-6u\(small\) {
    margin-left: 50%;
  }

  .\-5u\(small\) {
    margin-left: 41.6666666667%;
  }

  .\-4u\(small\) {
    margin-left: 33.3333333333%;
  }

  .\-3u\(small\) {
    margin-left: 25%;
  }

  .\-2u\(small\) {
    margin-left: 16.6666666667%;
  }

  .\-1u\(small\) {
    margin-left: 8.3333333333%;
  }
}
@media screen and (max-width: 480px) {
  .row > * {
    padding: 0 0 0 1em;
  }

  .row {
    margin: 0 0 -1px -1em;
  }

  .row.uniform > * {
    padding: 1em 0 0 1em;
  }

  .row.uniform {
    margin: -1em 0 -1px -1em;
  }

  .row.\32 00\% > * {
    padding: 0 0 0 2em;
  }

  .row.\32 00\% {
    margin: 0 0 -1px -2em;
  }

  .row.uniform.\32 00\% > * {
    padding: 2em 0 0 2em;
  }

  .row.uniform.\32 00\% {
    margin: -2em 0 -1px -2em;
  }

  .row.\31 50\% > * {
    padding: 0 0 0 1.5em;
  }

  .row.\31 50\% {
    margin: 0 0 -1px -1.5em;
  }

  .row.uniform.\31 50\% > * {
    padding: 1.5em 0 0 1.5em;
  }

  .row.uniform.\31 50\% {
    margin: -1.5em 0 -1px -1.5em;
  }

  .row.\35 0\% > * {
    padding: 0 0 0 0.5em;
  }

  .row.\35 0\% {
    margin: 0 0 -1px -0.5em;
  }

  .row.uniform.\35 0\% > * {
    padding: 0.5em 0 0 0.5em;
  }

  .row.uniform.\35 0\% {
    margin: -0.5em 0 -1px -0.5em;
  }

  .row.\32 5\% > * {
    padding: 0 0 0 0.25em;
  }

  .row.\32 5\% {
    margin: 0 0 -1px -0.25em;
  }

  .row.uniform.\32 5\% > * {
    padding: 0.25em 0 0 0.25em;
  }

  .row.uniform.\32 5\% {
    margin: -0.25em 0 -1px -0.25em;
  }

  .\31 2u\(xsmall\), .\31 2u\$\(xsmall\) {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  .\31 1u\(xsmall\), .\31 1u\$\(xsmall\) {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 0u\(xsmall\), .\31 0u\$\(xsmall\) {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\39 u\(xsmall\), .\39 u\$\(xsmall\) {
    width: 75%;
    clear: none;
    margin-left: 0;
  }

  .\38 u\(xsmall\), .\38 u\$\(xsmall\) {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\37 u\(xsmall\), .\37 u\$\(xsmall\) {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\36 u\(xsmall\), .\36 u\$\(xsmall\) {
    width: 50%;
    clear: none;
    margin-left: 0;
  }

  .\35 u\(xsmall\), .\35 u\$\(xsmall\) {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\34 u\(xsmall\), .\34 u\$\(xsmall\) {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\33 u\(xsmall\), .\33 u\$\(xsmall\) {
    width: 25%;
    clear: none;
    margin-left: 0;
  }

  .\32 u\(xsmall\), .\32 u\$\(xsmall\) {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 u\(xsmall\), .\31 u\$\(xsmall\) {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\31 2u\$\(xsmall\) + *,
.\31 1u\$\(xsmall\) + *,
.\31 0u\$\(xsmall\) + *,
.\39 u\$\(xsmall\) + *,
.\38 u\$\(xsmall\) + *,
.\37 u\$\(xsmall\) + *,
.\36 u\$\(xsmall\) + *,
.\35 u\$\(xsmall\) + *,
.\34 u\$\(xsmall\) + *,
.\33 u\$\(xsmall\) + *,
.\32 u\$\(xsmall\) + *,
.\31 u\$\(xsmall\) + * {
    clear: left;
  }

  .\-11u\(xsmall\) {
    margin-left: 91.6666666667%;
  }

  .\-10u\(xsmall\) {
    margin-left: 83.3333333333%;
  }

  .\-9u\(xsmall\) {
    margin-left: 75%;
  }

  .\-8u\(xsmall\) {
    margin-left: 66.6666666667%;
  }

  .\-7u\(xsmall\) {
    margin-left: 58.3333333333%;
  }

  .\-6u\(xsmall\) {
    margin-left: 50%;
  }

  .\-5u\(xsmall\) {
    margin-left: 41.6666666667%;
  }

  .\-4u\(xsmall\) {
    margin-left: 33.3333333333%;
  }

  .\-3u\(xsmall\) {
    margin-left: 25%;
  }

  .\-2u\(xsmall\) {
    margin-left: 16.6666666667%;
  }

  .\-1u\(xsmall\) {
    margin-left: 8.3333333333%;
  }
}
@media screen and (max-width: 360px) {
  .row > * {
    padding: 0 0 0 1em;
  }

  .row {
    margin: 0 0 -1px -1em;
  }

  .row.uniform > * {
    padding: 1em 0 0 1em;
  }

  .row.uniform {
    margin: -1em 0 -1px -1em;
  }

  .row.\32 00\% > * {
    padding: 0 0 0 2em;
  }

  .row.\32 00\% {
    margin: 0 0 -1px -2em;
  }

  .row.uniform.\32 00\% > * {
    padding: 2em 0 0 2em;
  }

  .row.uniform.\32 00\% {
    margin: -2em 0 -1px -2em;
  }

  .row.\31 50\% > * {
    padding: 0 0 0 1.5em;
  }

  .row.\31 50\% {
    margin: 0 0 -1px -1.5em;
  }

  .row.uniform.\31 50\% > * {
    padding: 1.5em 0 0 1.5em;
  }

  .row.uniform.\31 50\% {
    margin: -1.5em 0 -1px -1.5em;
  }

  .row.\35 0\% > * {
    padding: 0 0 0 0.5em;
  }

  .row.\35 0\% {
    margin: 0 0 -1px -0.5em;
  }

  .row.uniform.\35 0\% > * {
    padding: 0.5em 0 0 0.5em;
  }

  .row.uniform.\35 0\% {
    margin: -0.5em 0 -1px -0.5em;
  }

  .row.\32 5\% > * {
    padding: 0 0 0 0.25em;
  }

  .row.\32 5\% {
    margin: 0 0 -1px -0.25em;
  }

  .row.uniform.\32 5\% > * {
    padding: 0.25em 0 0 0.25em;
  }

  .row.uniform.\32 5\% {
    margin: -0.25em 0 -1px -0.25em;
  }

  .\31 2u\(xxsmall\), .\31 2u\$\(xxsmall\) {
    width: 100%;
    clear: none;
    margin-left: 0;
  }

  .\31 1u\(xxsmall\), .\31 1u\$\(xxsmall\) {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 0u\(xxsmall\), .\31 0u\$\(xxsmall\) {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\39 u\(xxsmall\), .\39 u\$\(xxsmall\) {
    width: 75%;
    clear: none;
    margin-left: 0;
  }

  .\38 u\(xxsmall\), .\38 u\$\(xxsmall\) {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\37 u\(xxsmall\), .\37 u\$\(xxsmall\) {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\36 u\(xxsmall\), .\36 u\$\(xxsmall\) {
    width: 50%;
    clear: none;
    margin-left: 0;
  }

  .\35 u\(xxsmall\), .\35 u\$\(xxsmall\) {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\34 u\(xxsmall\), .\34 u\$\(xxsmall\) {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\33 u\(xxsmall\), .\33 u\$\(xxsmall\) {
    width: 25%;
    clear: none;
    margin-left: 0;
  }

  .\32 u\(xxsmall\), .\32 u\$\(xxsmall\) {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
  }

  .\31 u\(xxsmall\), .\31 u\$\(xxsmall\) {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
  }

  .\31 2u\$\(xxsmall\) + *,
.\31 1u\$\(xxsmall\) + *,
.\31 0u\$\(xxsmall\) + *,
.\39 u\$\(xxsmall\) + *,
.\38 u\$\(xxsmall\) + *,
.\37 u\$\(xxsmall\) + *,
.\36 u\$\(xxsmall\) + *,
.\35 u\$\(xxsmall\) + *,
.\34 u\$\(xxsmall\) + *,
.\33 u\$\(xxsmall\) + *,
.\32 u\$\(xxsmall\) + *,
.\31 u\$\(xxsmall\) + * {
    clear: left;
  }

  .\-11u\(xxsmall\) {
    margin-left: 91.6666666667%;
  }

  .\-10u\(xxsmall\) {
    margin-left: 83.3333333333%;
  }

  .\-9u\(xxsmall\) {
    margin-left: 75%;
  }

  .\-8u\(xxsmall\) {
    margin-left: 66.6666666667%;
  }

  .\-7u\(xxsmall\) {
    margin-left: 58.3333333333%;
  }

  .\-6u\(xxsmall\) {
    margin-left: 50%;
  }

  .\-5u\(xxsmall\) {
    margin-left: 41.6666666667%;
  }

  .\-4u\(xxsmall\) {
    margin-left: 33.3333333333%;
  }

  .\-3u\(xxsmall\) {
    margin-left: 25%;
  }

  .\-2u\(xxsmall\) {
    margin-left: 16.6666666667%;
  }

  .\-1u\(xxsmall\) {
    margin-left: 8.3333333333%;
  }
}
/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/
/* Basic */
@-ms-viewport {
  width: device-width;
}
body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px;
  }
}
body {
  background: #ffffff;
}
body.is-loading *, body.is-loading *:before, body.is-loading *:after {
  -moz-animation: none !important;
  -webkit-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/
/* Type */
body {
  background-color: #ffffff;
  color: #404040;
}

body, input, select, textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.6;
}
@media screen and (max-width: 1680px) {
  body, input, select, textarea {
    font-size: 13pt;
  }
}
@media screen and (max-width: 1280px) {
  body, input, select, textarea {
    font-size: 12pt;
  }
}
@media screen and (max-width: 360px) {
  body, input, select, textarea {
    font-size: 11pt;
  }
}

a {
  -moz-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: border-bottom-color 0.2s ease-in-out, color 0.2s ease-in-out;
  text-decoration: none;
  color: #e66666;
}
a:before {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
a:hover {
  color: #e66666 !important;
  border-bottom-color: transparent;
}
a:hover:before {
  color: #e66666 !important;
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

p {
  margin: 0 0 1.75em 0;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: "Comfortaa", cursive;
  line-height: 1.3;
  margin: 2.1875em 0 0.875em 0;
  letter-spacing: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border-bottom: 0;
  color: inherit;
  text-decoration: none;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h2 {
  font-size: 1.35em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}

@media screen and (max-width: 736px) {
  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
  }
}
sub {
  font-size: 0.8em;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 0.8em;
  position: relative;
  top: -0.5em;
}

blockquote {
  border-left: solid 4px;
  font-style: italic;
  margin: 0 0 1.75em 0;
  padding: 0.4375em 0 0.4375em 1.75em;
}

code {
  border: solid 1px;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 1.75em 0;
}
pre code {
  display: block;
  line-height: 1.75;
  padding: 1em 1.5em;
  overflow-x: auto;
}

hr {
  border: 0;
  border-bottom: solid 1px;
  margin: 1.75em 0;
}
hr.major {
  margin: 2.625em 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.legal {
  font-size: 0.8em;
}

input, select, textarea {
  color: #404040;
}

a {
  color: #e66666;
}

strong, b {
  color: #404040;
}

h1, h2, h3, h4, h5, h6 {
  color: #404040 !important;
}

blockquote {
  border-left-color: #dbdbdb;
}

code {
  background: rgba(144, 144, 144, 0.075);
  border-color: #dbdbdb;
}

hr {
  border-bottom-color: #dbdbdb;
}

/* Box */
.box {
  border: solid 1px;
  margin-bottom: 1.75em;
  background: #ffffff;
  padding: 1.5em;
}
.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}
.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}
.box.special {
  background: transparent;
}

.box {
  border-color: #dbdbdb;
}

/* Button */
input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 0;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 3.4375em;
  line-height: 3.4375em;
  padding: 0 2em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  font-size: 0.8em;
  letter-spacing: 0;
}
input[type=submit].icon,
input[type=reset].icon,
input[type=button].icon,
button.icon,
.button.icon {
  padding-left: 1.35em;
}
input[type=submit].icon:before,
input[type=reset].icon:before,
input[type=button].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
  color: inherit !important;
}
input[type=submit].just-icon,
input[type=reset].just-icon,
input[type=button].just-icon,
button.just-icon,
.button.just-icon {
  padding-left: 2em;
}
input[type=submit].just-icon:before,
input[type=reset].just-icon:before,
input[type=button].just-icon:before,
button.just-icon:before,
.button.just-icon:before {
  margin-right: 0 !important;
  color: inherit !important;
}
input[type=submit].fit,
input[type=reset].fit,
input[type=button].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 0.875em 0;
  width: 100%;
}
input[type=submit].small,
input[type=reset].small,
input[type=button].small,
button.small,
.button.small {
  font-size: 0.8em;
}
input[type=submit].big,
input[type=reset].big,
input[type=button].big,
button.big,
.button.big {
  font-size: 1.35em;
}
input[type=submit].disabled, input[type=submit]:disabled,
input[type=reset].disabled,
input[type=reset]:disabled,
input[type=button].disabled,
input[type=button]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  -moz-pointer-events: none;
  -webkit-pointer-events: none;
  -ms-pointer-events: none;
  pointer-events: none;
  opacity: 0.25;
}
@media screen and (max-width: 480px) {
  input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
    padding: 0;
  }
  input[type=submit].just-icon,
input[type=reset].just-icon,
input[type=button].just-icon,
button.just-icon,
.button.just-icon {
    padding: 0 2em !important;
  }
  input[type=submit].just-icon:before,
input[type=reset].just-icon:before,
input[type=button].just-icon:before,
button.just-icon:before,
.button.just-icon:before {
    margin-left: 0.1em !important;
    color: inherit !important;
  }
}

input[type=submit],
input[type=reset],
input[type=button],
button {
  line-height: 3.09375em;
}

input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #dbdbdb;
  color: #404040 !important;
}
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover,
button:hover,
.button:hover {
  background-color: rgba(144, 144, 144, 0.075);
  color: inherit !important;
}
input[type=submit]:active,
input[type=reset]:active,
input[type=button]:active,
button:active,
.button:active {
  background-color: rgba(144, 144, 144, 0.2);
}
input[type=submit].special,
input[type=reset].special,
input[type=button].special,
button.special,
.button.special {
  box-shadow: none;
  background-color: #404040;
  color: #ffffff !important;
}
input[type=submit].special:hover,
input[type=reset].special:hover,
input[type=button].special:hover,
button.special:hover,
.button.special:hover {
  background-color: #4d4d4d;
}
input[type=submit].special:active,
input[type=reset].special:active,
input[type=button].special:active,
button.special:active,
.button.special:active {
  background-color: #333333;
}

/* Form */
form {
  margin: 0 0 1.75em 0;
  margin-top: 0;
}
form:after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
}
form .field {
  position: relative;
  float: left;
  margin: 0 0 1.375em 0;
  vertical-align: top;
  width: 100%;
}
form .half {
  width: calc(50% + 0.6875em) !important;
  padding-left: 1.375em;
}
form .half.first {
  width: calc(50% - 0.6875em) !important;
  padding-left: 0;
}
form :last-child {
  margin-bottom: 0;
}
form .half:nth-last-child(2) {
  margin-bottom: 0;
}
form .actions {
  position: relative;
  clear: both;
  margin-bottom: 0 !important;
}
@media screen and (max-width: 980px) {
  form .half {
    width: 100% !important;
    padding-left: 0;
  }
  form .half.first {
    width: 100% !important;
    padding-left: 0;
  }
  form .half:nth-last-child(2) {
    margin: 0 0 1.1375em 0;
  }
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px rgba(144, 144, 144, 0.2);
  background-color: rgba(144, 144, 144, 0.2);
  height: 4px;
  vertical-align: middle;
  border: none;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 100%;
  background-color: #404040;
  box-shadow: none;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  margin-top: -6px;
}

input[type=range]::-webkit-slider-thumb:hover {
  box-shadow: inset 0 0 0 1px #e66666, inset 0 0 1px #e66666, inset 0 0 0 1px #e66666;
  background: #4d4d4d;
}

input[type=range]:active::-webkit-slider-thumb {
  box-shadow: inset 0 0 0 1px #e66666, inset 0 0 1px #e66666, inset 0 0 0 1px #e66666;
  background: #4d4d4d;
}

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px rgba(144, 144, 144, 0.2);
  background-color: rgba(144, 144, 144, 0.2);
  height: 4px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border-radius: 100%;
  background-color: #404040;
  box-shadow: none;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  border: none;
  cursor: pointer;
  margin-top: -6px;
}

input[type=range]::-moz-range-thumb:hover {
  box-shadow: inset 0 0 0 1px #e66666, inset 0 0 1px #e66666, inset 0 0 0 1px #e66666;
  background: #4d4d4d;
}

input[type=range]:active::-moz-range-thumb {
  box-shadow: inset 0 0 0 1px #e66666, inset 0 0 1px #e66666, inset 0 0 0 1px #e66666;
  background: #4d4d4d;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #aaaaaa;
  border: 0px solid #aaaaaa;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #aaaaaa, 0px 0px 0px #aaaaaa;
}

input[type=range]::-ms-fill-upper {
  background: #aaaaaa;
  border: 0px solid #aaaaaa;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #aaaaaa, 0px 0px 0px #aaaaaa;
}

input[type=range]::-ms-thumb {
  box-shadow: inset 0 0 0 1px #e66666, inset 0 0 1px #e66666, inset 0 0 0 1px #e66666;
  border: 0px solid #aaaaaa;
  height: 22px;
  width: 22px;
  border-radius: 100%;
  background: #404040;
  cursor: pointer;
  margin-top: -2px;
}

#recaptcha_resize {
  transform: scale(0.84);
  transform-origin: 0 0;
}

@media screen and (max-width: 736px) {
  #recaptcha_resize_register {
    transform: scale(0.84);
    transform-origin: 0 0;
  }

  #recaptcha_resize {
    transform: scale(0.7);
    transform-origin: 0 0;
  }
}
.form_warning {
  font-size: 1em;
  color: #c6a800;
}
.form_warning p {
  padding: 0;
  border-left: 0;
  margin-bottom: 1em;
  text-decoration: none;
}
.form_warning p:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.form_warning p:before {
  content: "";
  margin-right: 0.6em;
}
@media screen and (max-width: 980px) {
  .form_warning p {
    border-top: 0;
    margin-top: 0;
  }
}

label {
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  margin: 0 0 0.875em 0;
}

input[type=text],
input[type=password],
input[type=email],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  border: none;
  border: solid 1px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}
input[type=text]:invalid,
input[type=password]:invalid,
input[type=email]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}
.select-wrapper:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.select-wrapper:before {
  content: "";
  display: block;
  height: 2.75em;
  line-height: 2.75em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.75em;
}
.select-wrapper select::-ms-expand {
  display: none;
}

input[type=text],
input[type=password],
input[type=email],
select {
  height: 2.75em;
}

textarea {
  padding: 0.75em 1em;
}

input[type=checkbox],
input[type=radio] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}
input[type=checkbox] + label,
input[type=radio] + label {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  padding-left: 2.4em;
  padding-right: 0.75em;
  position: relative;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  border: solid 1px;
  content: "";
  display: inline-block;
  height: 1.65em;
  left: 0;
  line-height: 1.58125em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.65em;
}
input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  content: "";
}

input[type=radio] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  opacity: 1;
}

:-moz-placeholder {
  opacity: 1;
}

::-moz-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

.formerize-placeholder {
  opacity: 1;
}

label {
  color: #404040;
}

input[type=text],
input[type=password],
input[type=email],
select,
textarea {
  background: rgba(144, 144, 144, 0.075);
  border-color: #dbdbdb;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
select:focus,
textarea:focus {
  border-color: #e66666;
  box-shadow: 0 0 0 1px #e66666;
}

.select-wrapper:before {
  color: #dbdbdb;
}

input[type=checkbox] + label,
input[type=radio] + label {
  color: #404040;
}
input[type=checkbox] + label:before,
input[type=radio] + label:before {
  background: rgba(144, 144, 144, 0.075);
  border-color: #dbdbdb;
}
input[type=checkbox]:checked + label:before,
input[type=radio]:checked + label:before {
  background-color: #404040;
  color: #ffffff;
  border-color: #404040;
}
input[type=checkbox]:focus + label:before,
input[type=radio]:focus + label:before {
  border-color: #e66666;
  box-shadow: 0 0 0 1px #e66666;
}

::-webkit-input-placeholder {
  color: #aaaaaa !important;
}

:-moz-placeholder {
  color: #aaaaaa !important;
}

::-moz-placeholder {
  color: #aaaaaa !important;
}

:-ms-input-placeholder {
  color: #aaaaaa !important;
}

.formerize-placeholder {
  color: #aaaaaa !important;
}

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}
.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
.icon > .label {
  display: none;
}

/* Image */
.image {
  border: 0;
  display: inline-block;
  position: relative;
}
.image img {
  display: block;
}
.image.left, .image.right {
  max-width: 40%;
}
.image.left img, .image.right img {
  width: 100%;
}
.image.left {
  float: left;
  margin: 0 1.5em 1em 0;
  top: 0.25em;
}
.image.right {
  float: right;
  margin: 0 0 1em 1.5em;
  top: 0.25em;
}
.image.fit {
  display: block;
  margin: 0 0 1.75em 0;
  width: 100%;
}
.image.fit img {
  width: 100%;
}
.image.main {
  display: block;
  margin: 0 0 2.625em 0;
  width: 100%;
}
.image.main img {
  width: 100%;
}
@media screen and (max-width: 736px) {
  .image.main {
    margin: 0 0 1.75em 0;
  }
}

/* List */
ol {
  list-style: decimal;
  margin: 0 0 1.75em 0;
  padding-left: 1.25em;
}
ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 1.75em 0;
  padding-left: 1em;
}
ul li {
  padding-left: 0.5em;
}
ul.alt {
  list-style: none;
  padding-left: 0;
}
ul.alt li {
  border-top: solid 1px;
  padding: 0.5em 0;
}
ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}
ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}
ul.icons li:last-child {
  padding-right: 0 !important;
}
ul.icons.style2 li {
  font-size: 1.35em;
  padding: 0 0.5em 0 0;
}
ul.icons.style2 li a {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: inline-block;
  border-radius: 100%;
  width: 2.125em;
  height: 2.125em;
  line-height: 2.125em;
  text-align: center;
  background-color: #404040;
  color: #ffffff !important;
}
ul.icons.style2 li a:hover {
  background-color: #4d4d4d;
}
ul.icons.style2 li a:active {
  background-color: #333333;
}
ul.icons.style2 li a:before {
  color: inherit !important;
}
ul.icons.style2 li a.fa-twitter {
  background-color: #84dae7;
  color: #ffffff !important;
}
ul.icons.style2 li a.fa-twitter:hover {
  background-color: #99e0eb;
}
ul.icons.style2 li a.fa-twitter:active {
  background-color: #6fd4e3;
}
ul.icons.style2 li a.fa-facebook {
  background-color: #75aae6;
  color: #ffffff !important;
}
ul.icons.style2 li a.fa-facebook:hover {
  background-color: #8bb7ea;
}
ul.icons.style2 li a.fa-facebook:active {
  background-color: #5f9de2;
}
ul.icons.style2 li a.fa-instagram {
  background-color: #dcc3ad;
  color: #ffffff !important;
}
ul.icons.style2 li a.fa-instagram:hover {
  background-color: #e4d0bf;
}
ul.icons.style2 li a.fa-instagram:active {
  background-color: #d4b69b;
}
ul.icons.style2 li a.fa-youtube {
  background-color: #e78484;
  color: #ffffff !important;
}
ul.icons.style2 li a.fa-youtube:hover {
  background-color: #eb9999;
}
ul.icons.style2 li a.fa-youtube:active {
  background-color: #e36f6f;
}
ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}
ul.actions li {
  display: inline-block;
  padding: 0 0.875em 0 0;
  vertical-align: middle;
}
ul.actions li:last-child {
  padding-right: 0;
}
ul.actions.small li {
  padding: 0 0.4375em 0 0;
}
ul.actions.vertical li {
  display: block;
  padding: 0.875em 0 0 0;
}
ul.actions.vertical li:first-child {
  padding-top: 0;
}
ul.actions.vertical li > * {
  margin-bottom: 0;
}
ul.actions.vertical.small li {
  padding: 0.4375em 0 0 0;
}
ul.actions.vertical.small li:first-child {
  padding-top: 0;
}
ul.actions.fit {
  display: table;
  margin-left: -0.875em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 0.875em);
}
ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 0.875em;
}
ul.actions.fit li > * {
  margin-bottom: 0;
}
ul.actions.fit.small {
  margin-left: -0.4375em;
  width: calc(100% + 0.4375em);
}
ul.actions.fit.small li {
  padding: 0 0 0 0.4375em;
}
@media screen and (max-width: 480px) {
  ul.actions {
    margin: 0 0 1.75em 0;
  }
  ul.actions li {
    padding: 0.875em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  ul.actions li:first-child {
    padding-top: 0;
  }
  ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }
  ul.actions li > *.icon:before {
    margin-left: -2em;
  }
  ul.actions.small li {
    padding: 0.4375em 0 0 0;
  }
  ul.actions.small li:first-child {
    padding-top: 0;
  }
}
ul.meta {
  cursor: default;
  list-style: none;
  padding: 0;
}
ul.meta li {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0 0 0.875em 0;
  text-transform: none;
  border-left: solid 1px;
  padding: 0 0 0 1.25em;
  margin: 0 0 0 1.25em;
  line-height: 1;
}
ul.meta li a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0;
  text-decoration: none;
}
ul.meta li a:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
ul.meta li a:before {
  margin-right: 0.65em;
}
ul.meta li a.favorites:before {
  content: "";
}
ul.meta li a.comments:before {
  content: "";
}
ul.meta li a.users:before {
  content: "";
}
ul.meta li a.cubes:before {
  content: "";
}
ul.meta li a.gitlab:before {
  content: "";
}
ul.meta li:first-child {
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
}
h1 + ul.meta, h2 + ul.meta, h3 + ul.meta, h4 + ul.meta, h5 + ul.meta, h6 + ul.meta {
  margin: -0.6125em 0 1.3125em 0;
}
ul.pagination {
  display: inline-flex;
  list-style: none;
  padding: 0;
  border: solid 1px;
  margin: 0 auto 1.75em auto;
  cursor: default;
}
ul.pagination li {
  padding: 0;
}
ul.pagination li a, ul.pagination li span {
  position: relative;
  border-left: solid 1px;
  display: inline-block;
  font-size: 0.8em;
  min-width: 3.78125em;
  height: 3.4375em;
  line-height: 3.4375em;
  text-align: center;
  text-transform: none;
  font-weight: bold;
  letter-spacing: 0;
  text-decoration: none;
  border-bottom: 0;
}
ul.pagination li a {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
ul.pagination li .next, ul.pagination li .previous {
  text-decoration: none;
  padding: 0 2.1875em;
}
ul.pagination li .next:before, ul.pagination li .previous:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
ul.pagination li .next:before, ul.pagination li .previous:before {
  display: inline-block;
  line-height: 3.639453125em;
  color: inherit !important;
}
ul.pagination li .previous:before {
  content: "";
  margin-right: 0.9375em;
}
ul.pagination li .next:before {
  content: "";
  float: right;
  margin-left: 0.9375em;
}
ul.pagination li:first-child a {
  border-left: 0;
}
@media screen and (max-width: 480px) {
  ul.pagination li .page, ul.pagination li .extra {
    display: none;
  }
}

dl {
  margin: 0 0 1.75em 0;
}
dl dt {
  display: block;
  font-weight: 700;
  margin: 0 0 0.875em 0;
}
dl dd {
  margin-left: 1.75em;
}

ul.alt li {
  border-top-color: #dbdbdb;
}
ul.icons.style1 li a {
  color: #aaaaaa;
}
ul.meta {
  color: #aaaaaa;
}
ul.meta li {
  border-left-color: #dbdbdb;
}
ul.submenu {
  color: #aaaaaa;
}
ul.submenu li {
  border-left-color: #dbdbdb;
}
ul.data {
  color: #aaaaaa;
}
ul.data li {
  border-left-color: #dbdbdb;
}
ul.pagination {
  border-color: #dbdbdb;
}
ul.pagination li a, ul.pagination li span {
  border-left-color: #f4f4f4;
}
ul.pagination li a {
  color: #404040 !important;
}
ul.pagination li a:hover {
  background-color: rgba(144, 144, 144, 0.075);
}
ul.pagination li a:active {
  background-color: rgba(144, 144, 144, 0.2);
}
ul.pagination li a.active {
  color: #ffffff !important;
  box-shadow: 0 0 0 1px #404040;
  background-color: #404040;
  border-left-color: #404040;
  z-index: 1;
}
ul.pagination li span {
  color: #aaaaaa;
}

/* Section/Article */
section.special, article.special {
  text-align: center;
}
@media screen and (max-width: 480px) {
  section.special, article.special {
    text-align: left;
  }
}

header {
  cursor: default;
}
header .category {
  display: block;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0 0 1.640625em 0;
  text-transform: none;
}
header .category + h2, header .category + h3, header .category + h4, header .category + h5, header .category + h6 {
  margin-top: 0;
}
header.major {
  margin: 0 0 2.625em 0;
  text-align: center;
}
header.major h2 {
  font-size: 1.75em;
}
header.major > :last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 736px) {
  header.major {
    margin: 0 0 1.75em 0;
  }
  header.major h2 {
    font-size: 1.35em;
  }
}
@media screen and (max-width: 480px) {
  header.major {
    text-align: left;
  }
}

footer.major {
  padding: 2.75em 2.75em 1em 2.75em;
  text-align: center;
  border-top: solid 1px;
  margin-top: -1px;
}
@media screen and (max-width: 980px) {
  footer.major {
    padding: 2.75em 2em 1em 2em;
  }
}
@media screen and (max-width: 736px) {
  footer.major {
    padding: 2em 1em 0.25em 1em;
  }
}

header .category {
  color: #aaaaaa;
}

footer.major {
  border-top-color: #dbdbdb;
}

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 1.75em 0;
  width: 100%;
}
table tbody tr {
  border: solid 1px;
  border-left: 0;
  border-right: 0;
}
table td {
  padding: 0.75em 0.75em;
}
table th {
  font-size: 0.9em;
  font-weight: 700;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}
table thead {
  border-bottom: solid 2px;
}
table tfoot {
  border-top: solid 2px;
}
table.alt {
  border-collapse: separate;
}
table.alt tbody tr td {
  border: solid 1px;
  border-left-width: 0;
  border-top-width: 0;
}
table.alt tbody tr td:first-child {
  border-left-width: 1px;
}
table.alt tbody tr:first-child td {
  border-top-width: 1px;
}
table.alt thead {
  border-bottom: 0;
}
table.alt tfoot {
  border-top: 0;
}

table tbody tr {
  border-color: #dbdbdb;
}
table tbody tr:nth-child(2n+1) {
  background-color: rgba(144, 144, 144, 0.075);
}
table th {
  color: #404040;
}
table thead {
  border-bottom-color: #dbdbdb;
}
table tfoot {
  border-top-color: #dbdbdb;
}
table.alt tbody tr td {
  border-color: #dbdbdb;
}

/* Posts */
.posts {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.posts > article {
  width: 33.3333333333%;
  border-style: solid;
  border-right-width: 1px;
  border-bottom-width: 1px;
  padding: 2.75em;
}
.posts > article .image {
  margin: -1.375em 0 3.125em -1.375em;
  display: block;
  position: relative;
  width: calc(100% + 2.75em);
}
.posts > article .image img {
  width: 100%;
}
.posts > article > :last-child {
  margin-bottom: 0;
}
.posts > article > :last-child > :last-child {
  margin-bottom: 0;
}
.posts > article:nth-child(3n) {
  border-right-width: 0;
}
.posts > article:nth-last-child(1), .posts > article:nth-last-child(2), .posts > article:nth-last-child(3) {
  border-bottom-width: 0;
}
@media screen and (max-width: 1280px) {
  .posts > article {
    width: 50%;
  }
  .posts > article:nth-child(2n) {
    border-right-width: 0;
  }
  .posts > article:nth-child(3n) {
    border-right-width: 1px;
  }
  .posts > article:nth-last-child(3) {
    border-bottom-width: 1px;
  }
}
@media screen and (max-width: 980px) {
  .posts > article {
    padding: 2.75em 2em;
  }
  .posts > article .image {
    margin: -1.375em 0 2.4375em -1em;
    width: calc(100% + 2em);
  }
}
@media screen and (max-width: 736px) {
  .posts > article {
    padding: 1em 1em 2em 1em;
  }
  .posts > article .image {
    margin: 0 0 1.75em 0;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .posts > article {
    width: 100%;
    border-right-width: 0 !important;
  }
  .posts > article:nth-last-child(2) {
    border-bottom-width: 1px;
  }
}

.posts > article {
  border-color: #dbdbdb;
}

/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/
/* Errors */
#http_errors {
  padding: 0 !important;
  /* Errors */
}
#http_errors .img_http_error {
  max-height: 10em !important;
}
#http_errors .major {
  width: 50vw;
  margin: 0 auto;
}
#http_errors h1 {
  font-family: "Courier New", monospace !important;
}
#http_errors h2 {
  padding: 1.25em 0;
  margin: 0 !important;
}
#http_errors a {
  color: inherit !important;
}
#http_errors p {
  font-size: 0.9em;
  text-align: justify;
  font-family: _family(family-fixed);
}
@media screen and (max-width: 980px) {
  #http_errors .img_http_error {
    max-height: 7em !important;
    padding-bottom: 1em;
  }
  #http_errors .major {
    width: 100vw;
    margin: 0 auto;
  }
  #http_errors h2 {
    padding: 0.5em 0;
  }
  #http_errors p {
    padding-top: 1em;
    margin-top: 0.5em;
  }
}
#http_errors .form_warning_special {
  font-size: 1em;
  color: #e7e384;
}
#http_errors .form_warning_special p {
  padding: 0;
  border-left: 0;
  margin-bottom: 1em;
  text-decoration: none;
}
#http_errors .form_warning_special p:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#http_errors .form_warning_special p:before {
  content: "";
  margin-right: 0.6em;
}
@media screen and (max-width: 980px) {
  #http_errors .form_warning_special p {
    border-top: 0;
    margin-top: 0;
  }
}

/* Header */
body {
  padding-top: 3.75em;
}

@media screen and (max-width: 480px) {
  body {
    padding-top: 2.75em !important;
  }
}
#header {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background-color: #ffffff;
  height: 3.75em;
  line-height: 3.75em;
  box-shadow: inset 0 -1px 0 0 #dbdbdb;
  overflow: hidden;
}
#header a {
  color: inherit;
  font-size: 0.9em;
  text-decoration: none;
  padding: 0 1em;
}
#header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
#header ul li {
  display: inline-block;
  padding-left: 0;
}
#header .logo {
  background-color: #e66666;
  color: #ffffff;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  display: block;
  white-space: nowrap;
}
#header .logo input, #header .logo select, #header .logo textarea {
  color: #ffffff;
}
#header .logo a {
  color: #ffffff;
}
#header .logo strong, #header .logo b {
  color: #ffffff;
}
#header .logo h1, #header .logo h2, #header .logo h3, #header .logo h4, #header .logo h5, #header .logo h6 {
  color: #ffffff !important;
}
#header .logo blockquote {
  border-left-color: rgba(255, 255, 255, 0.25);
}
#header .logo code {
  background: rgba(255, 255, 255, 0.075);
  border-color: rgba(255, 255, 255, 0.25);
}
#header .logo hr {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}
#header .logo:hover {
  background-color: #ea7c7c;
}
#header .logo:active {
  background-color: #e25050;
}
#header .logo > :last-child {
  margin-bottom: 0;
}
#header .logo .title {
  display: block;
  font-size: 1.2em;
  border-bottom: 0;
  font-family: "Comfortaa", cursive;
  color: #ffffff !important;
  padding: 0 2em 0 1.5em;
}
@media screen and (max-width: 736px) {
  #header .logo a > span {
    display: none;
  }
}
#header .links {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: inherit;
  line-height: inherit;
  margin-left: 1em;
  overflow: hidden;
}
#header .links ul li a {
  border-bottom: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
}
#header .main {
  height: inherit;
  line-height: inherit;
  text-align: right !important;
}
#header .main ul {
  height: inherit;
  line-height: inherit;
}
#header .main ul li {
  border-left: solid 1px #dbdbdb;
  height: inherit;
  line-height: inherit;
  white-space: nowrap;
}
#header .main ul li > * {
  display: block;
  float: left;
}
#header .main ul li > a {
  text-decoration: none;
  border-bottom: 0;
  color: #aaaaaa;
  overflow: hidden;
  position: relative;
  text-indent: 4.5em;
  width: 4.5em;
}
#header .main ul li > a:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#header .main ul li > a:before {
  display: block;
  height: inherit;
  left: 0;
  line-height: inherit;
  text-align: center;
  text-indent: 0;
  top: 0;
}
#header form {
  margin: 0;
}
#header form input {
  display: inline-block;
  height: 2.5em;
  position: relative;
  top: -2px;
  vertical-align: middle;
}
#header #search {
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
}
#header #search input {
  width: 12em;
}
#header #search.visible {
  max-width: 12.5em;
  opacity: 1;
  padding: 0 0.5em 0 0;
}
@media screen and (max-width: 980px) {
  #header .links {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #header {
    height: 2.75em;
    line-height: 2.75em;
  }
  #header .main .search {
    display: none;
  }
  #header .main .notifications {
    display: none;
  }
}
#header .notifications ul {
  display: block;
  position: absolute !important;
  min-width: 140px;
}
#header .notifications ul li {
  position: relative;
}

/* Wrapper */
#wrapper {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  opacity: 1;
}
body.is-menu-visible #wrapper {
  opacity: 0.15;
}

/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/
/* Alerts */
#alert {
  position: fixed;
  min-width: 100%;
  height: "auto";
  overflow: "hidden";
  z-index: 100;
}
#alert .alert_close {
  float: right;
  clear: both;
  position: relative;
  font-size: 1.2em;
  line-height: 2.25em;
  cursor: pointer;
  text-decoration: none;
}
#alert .alert_close:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#alert .alert_close:before {
  content: "";
  margin-right: 0.6em;
}
#alert p {
  font-size: 0.8em;
  width: 90%;
  display: inline-block;
  padding: 1em 0 1em 2em;
  margin: 0;
}
#alert a {
  color: inherit !important;
  font-weight: 700;
}
#alert.warning {
  animation: warning 6s;
  -webkit-animation: warning 6s;
  -moz-animation: warning 6s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}
@keyframes warning {
  0% {
    background-color: rgba(231, 227, 132, 0.7);
  }
  50% {
    background-color: #e7e384;
  }
  100% {
    background-color: rgba(231, 227, 132, 0.7);
  }
}
@-webkit-keyframes warning {
  0% {
    background-color: rgba(231, 227, 132, 0.7);
  }
  50% {
    background-color: #e7e384;
  }
  100% {
    background-color: rgba(231, 227, 132, 0.7);
  }
}
#alert.warning p {
  text-decoration: none;
}
#alert.warning p:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#alert.warning p:before {
  content: "";
  margin-right: 0.6em;
}
#alert.information {
  animation: information 6s;
  -webkit-animation: information 6s;
  -moz-animation: information 6s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}
@keyframes information {
  0% {
    background-color: rgba(132, 218, 231, 0.7);
  }
  50% {
    background-color: #84dae7;
  }
  100% {
    background-color: rgba(132, 218, 231, 0.7);
  }
}
@-webkit-keyframes information {
  0% {
    background-color: rgba(132, 218, 231, 0.7);
  }
  50% {
    background-color: #84dae7;
  }
  100% {
    background-color: rgba(132, 218, 231, 0.7);
  }
}
#alert.information p {
  text-decoration: none;
}
#alert.information p:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#alert.information p:before {
  content: "";
  margin-right: 0.6em;
}
#alert.success {
  animation: success 6s;
  -webkit-animation: success 6s;
  -moz-animation: success 6s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}
@keyframes success {
  0% {
    background-color: rgba(151, 231, 132, 0.7);
  }
  50% {
    background-color: #97e784;
  }
  100% {
    background-color: rgba(151, 231, 132, 0.7);
  }
}
@-webkit-keyframes success {
  0% {
    background-color: rgba(151, 231, 132, 0.7);
  }
  50% {
    background-color: #97e784;
  }
  100% {
    background-color: rgba(151, 231, 132, 0.7);
  }
}
#alert.success p {
  text-decoration: none;
}
#alert.success p:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#alert.success p:before {
  content: "";
  margin-right: 0.6em;
}
#alert.error {
  animation: error 6s;
  -webkit-animation: error 6s;
  -moz-animation: error 6s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}
@keyframes error {
  0% {
    background-color: rgba(231, 132, 132, 0.7);
  }
  50% {
    background-color: #e78484;
  }
  100% {
    background-color: rgba(231, 132, 132, 0.7);
  }
}
@-webkit-keyframes error {
  0% {
    background-color: rgba(231, 132, 132, 0.7);
  }
  50% {
    background-color: #e78484;
  }
  100% {
    background-color: rgba(231, 132, 132, 0.7);
  }
}
#alert p {
  text-decoration: none;
}
#alert p:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#alert p:before {
  content: "";
  margin-right: 0.6em;
}

/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/
/* Landing Video Backrgound */
#landing_video {
  overflow: hidden;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 0;
  left: 0;
}

/* Login */
#login_content {
  background-color: #333333;
  color: #ffffff;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 2em 3em;
  background-color: rgba(51, 51, 51, 0.75);
  /* Errors */
}
#login_content input, #login_content select, #login_content textarea {
  color: #ffffff;
}
#login_content a {
  color: #e66666;
}
#login_content strong, #login_content b {
  color: #ffffff;
}
#login_content h1, #login_content h2, #login_content h3, #login_content h4, #login_content h5, #login_content h6 {
  color: #ffffff !important;
}
#login_content blockquote {
  border-left-color: #ffffff;
}
#login_content code {
  background: rgba(255, 255, 255, 0.075);
  border-color: #ffffff;
}
#login_content hr {
  border-bottom-color: #ffffff;
}
#login_content input[type=submit],
#login_content input[type=reset],
#login_content input[type=button],
#login_content button,
#login_content .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
}
#login_content input[type=submit]:hover,
#login_content input[type=reset]:hover,
#login_content input[type=button]:hover,
#login_content button:hover,
#login_content .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
  color: inherit !important;
}
#login_content input[type=submit]:active,
#login_content input[type=reset]:active,
#login_content input[type=button]:active,
#login_content button:active,
#login_content .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
#login_content input[type=submit].special,
#login_content input[type=reset].special,
#login_content input[type=button].special,
#login_content button.special,
#login_content .button.special {
  box-shadow: none;
  background-color: #ffffff;
  color: #333333 !important;
}
#login_content input[type=submit].special:hover,
#login_content input[type=reset].special:hover,
#login_content input[type=button].special:hover,
#login_content button.special:hover,
#login_content .button.special:hover {
  background-color: white;
}
#login_content input[type=submit].special:active,
#login_content input[type=reset].special:active,
#login_content input[type=button].special:active,
#login_content button.special:active,
#login_content .button.special:active {
  background-color: #f2f2f2;
}
#login_content h2 {
  padding-bottom: 0.5em;
}
#login_content a {
  font-size: 0.8em;
  color: inherit !important;
}
#login_content p {
  font-size: 0.9em;
  text-align: justify;
  padding-left: 1.5em;
  border-left: 1px dotted;
}
#login_content li {
  text-align: left !important;
}
#login_content li:last-child {
  padding-top: 1em;
}
#login_content input[type=checkbox] + label {
  color: inherit;
  font-size: 0.75em;
}
@media screen and (max-width: 980px) {
  #login_content h2 {
    padding-bottom: 0.25em;
  }
  #login_content p {
    padding-left: 0;
    border-left: 0;
    padding-top: 1em;
    margin-top: 0.5em;
    border-top: 1px dotted;
  }
}
#login_content .form_warning_special {
  font-size: 1em;
  color: #e7e384;
}
#login_content .form_warning_special p {
  padding: 0;
  border-left: 0;
  margin-bottom: 1em;
  text-decoration: none;
}
#login_content .form_warning_special p:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#login_content .form_warning_special p:before {
  content: "";
  margin-right: 0.6em;
}
@media screen and (max-width: 980px) {
  #login_content .form_warning_special p {
    border-top: 0;
    margin-top: 0;
  }
}

/* Banner */
#banner {
  background-color: #333333;
  color: #ffffff;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#banner input, #banner select, #banner textarea {
  color: #ffffff;
}
#banner a {
  color: #e66666;
}
#banner strong, #banner b {
  color: #ffffff;
}
#banner h1, #banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
  color: #ffffff !important;
}
#banner blockquote {
  border-left-color: #ffffff;
}
#banner code {
  background: rgba(255, 255, 255, 0.075);
  border-color: #ffffff;
}
#banner hr {
  border-bottom-color: #ffffff;
}
#banner input[type=submit],
#banner input[type=reset],
#banner input[type=button],
#banner button,
#banner .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
}
#banner input[type=submit]:hover,
#banner input[type=reset]:hover,
#banner input[type=button]:hover,
#banner button:hover,
#banner .button:hover {
  background-color: rgba(255, 255, 255, 0.075);
  color: inherit !important;
}
#banner input[type=submit]:active,
#banner input[type=reset]:active,
#banner input[type=button]:active,
#banner button:active,
#banner .button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
#banner input[type=submit].special,
#banner input[type=reset].special,
#banner input[type=button].special,
#banner button.special,
#banner .button.special {
  box-shadow: none;
  background-color: #ffffff;
  color: #333333 !important;
}
#banner input[type=submit].special:hover,
#banner input[type=reset].special:hover,
#banner input[type=button].special:hover,
#banner button.special:hover,
#banner .button.special:hover {
  background-color: white;
}
#banner input[type=submit].special:active,
#banner input[type=reset].special:active,
#banner input[type=button].special:active,
#banner button.special:active,
#banner .button.special:active {
  background-color: #f2f2f2;
}
#banner > article {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  padding: 6em 6em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}
#banner > article:before {
  -moz-transition: opacity 2.25s ease;
  -webkit-transition: opacity 2.25s ease;
  -ms-transition: opacity 2.25s ease;
  transition: opacity 2.25s ease;
  content: "";
  background-color: #333333;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
}
#banner > article:nth-child(1):before {
  -moz-transition-delay: 0s;
  -webkit-transition-delay: 0s;
  -ms-transition-delay: 0s;
  transition-delay: 0s;
  background-color: #333333;
}
#banner > article:nth-child(2):before {
  -moz-transition-delay: 0.375s;
  -webkit-transition-delay: 0.375s;
  -ms-transition-delay: 0.375s;
  transition-delay: 0.375s;
  background-color: #303030;
}
#banner > article:nth-child(3):before {
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  background-color: #2e2e2e;
}
#banner > article:nth-child(4):before {
  -moz-transition-delay: 1.125s;
  -webkit-transition-delay: 1.125s;
  -ms-transition-delay: 1.125s;
  transition-delay: 1.125s;
  background-color: #2b2b2b;
}
#banner > article:nth-child(5):before {
  -moz-transition-delay: 1.5s;
  -webkit-transition-delay: 1.5s;
  -ms-transition-delay: 1.5s;
  transition-delay: 1.5s;
  background-color: #292929;
}
#banner > article:nth-child(6):before {
  -moz-transition-delay: 1.875s;
  -webkit-transition-delay: 1.875s;
  -ms-transition-delay: 1.875s;
  transition-delay: 1.875s;
  background-color: #262626;
}
#banner > article:nth-child(7):before {
  -moz-transition-delay: 2.25s;
  -webkit-transition-delay: 2.25s;
  -ms-transition-delay: 2.25s;
  transition-delay: 2.25s;
  background-color: #242424;
}
#banner > article:nth-child(8):before {
  -moz-transition-delay: 2.625s;
  -webkit-transition-delay: 2.625s;
  -ms-transition-delay: 2.625s;
  transition-delay: 2.625s;
  background-color: #212121;
}
#banner > article:nth-child(9):before {
  -moz-transition-delay: 3s;
  -webkit-transition-delay: 3s;
  -ms-transition-delay: 3s;
  transition-delay: 3s;
  background-color: #1f1f1f;
}
#banner > article:nth-child(10):before {
  -moz-transition-delay: 3.375s;
  -webkit-transition-delay: 3.375s;
  -ms-transition-delay: 3.375s;
  transition-delay: 3.375s;
  background-color: #1c1c1c;
}
#banner > article > img {
  display: none;
}
#banner > article .content {
  max-width: 80%;
  position: relative;
  z-index: 1;
}
#banner > article h1, #banner > article h2, #banner > article h3 {
  margin: 0 0 0.4375em 0;
}
#banner > article h1 a, #banner > article h2 a, #banner > article h3 a {
  color: #ffffff !important;
}
#banner > article.full {
  min-height: 65vh;
  width: 100%;
}
#banner > article.full h2 {
  font-size: 2.25em;
}
#banner > article.full .content {
  width: 40em;
}
@media screen and (max-width: 1680px) {
  #banner > article.full {
    min-height: 70vh;
  }
  #banner > article.full h2 {
    font-size: 1.75em;
  }
}
@media screen and (max-width: 736px) {
  #banner > article.full h2 {
    font-size: 1.5em;
  }
}
#banner > article.half {
  min-height: 50vh;
  width: 50%;
}
#banner > article.half h2 {
  font-size: 1.75em;
}
#banner > article.half .content {
  background-color: rgba(51, 51, 51, 0.75);
  padding: 2em 3em;
  min-width: 30em;
}
@media screen and (max-width: 1680px) {
  #banner > article.half h2 {
    font-size: 1.35em;
  }
}
@media screen and (max-width: 736px) {
  #banner > article.half h2 {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 980px) {
  #banner > article {
    padding: 6em 2em;
  }
  #banner > article.full {
    min-height: 55vh;
  }
  #banner > article.half {
    min-height: 35vh;
  }
}
@media screen and (max-width: 736px) {
  #banner > article {
    padding: 4em 1em;
  }
  #banner > article.full {
    min-height: 0;
  }
  #banner > article.half {
    min-height: 0;
  }
}
@media screen and (max-width: 480px) {
  #banner {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #banner > article {
    padding: 4em 2em 2.25em 2em;
  }
  #banner > article.full {
    width: 100%;
  }
  #banner > article.full .content {
    width: 100%;
    max-width: 100%;
  }
  #banner > article.half {
    width: 100%;
  }
  #banner > article.half .content {
    width: 100%;
    max-width: 100%;
  }
}
body.is-loading #banner > article:before {
  opacity: 1;
}

/* Main */
#main > .main {
  border-bottom: solid 1px #dbdbdb;
  background-image: url("../images/background-texture.svg");
}
#main > .main > .inner {
  padding: 5em 2.75em 3.25em 2.75em;
  background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 20%, white 80%, rgba(255, 255, 255, 0) 100%);
  /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 20%, white 80%, rgba(255, 255, 255, 0) 100%);
  /* For Firefox (3.6 to 15) */
  background-image: -o-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 20%, white 80%, rgba(255, 255, 255, 0) 100%);
  /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 20%, white 80%, rgba(255, 255, 255, 0) 100%);
  /* Standard syntax; must be last */
  max-width: 72em;
  width: 100%;
  margin: 0 auto;
}
#main > .main.whithout {
  background: #ffffff;
}
#main > .main .margin {
  display: none;
}
@media screen and (max-width: 980px) {
  #main > .main > .main > .inner {
    padding: 4em 2em 2.25em 2em;
  }
  #main > .main .margin {
    display: block;
  }
}
@media screen and (max-width: 736px) {
  #main > .main > .main > .inner {
    padding: 2em 1em 0.25em 1em;
  }
}

/* Main */
#footer > .inner {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  max-width: 72em;
  width: 100%;
  margin: 0 auto;
}
#footer > .inner a {
  color: inherit;
}
#footer > .inner > section {
  padding: 2.75em 2.75em 1em 2.75em;
  -ms-flex: 1;
  width: 100%;
}
#footer > .inner > section:nth-child(2n-1) {
  border-right: solid 1px #dbdbdb;
}
#footer > .copyright {
  border-top: solid 1px #dbdbdb;
  padding: 2.75em 2.75em 5.5em 2.75em;
  text-align: left;
}
#footer > .copyright > :last-child {
  margin-bottom: 0;
}
#footer > .copyright p {
  color: #aaaaaa;
  font-size: 0.8em;
}
@media screen and (max-width: 980px) {
  #footer > .inner > section {
    padding: 2.75em 2em 1em 2em;
  }
  #footer > .copyright {
    padding: 2.75em 2em 5.5em 2em;
  }
}
@media screen and (max-width: 736px) {
  #footer > .inner > section {
    padding: 2em 1em 0.25em 1em;
  }
  #footer > .copyright {
    padding: 2em 1em;
  }
}
@media screen and (max-width: 480px) {
  #footer > .inner {
    padding: 2em 1em 0.25em 1em;
    display: block;
  }
  #footer > .inner > section {
    padding: 0;
    border: 0 !important;
  }
}

/* Profile */
#profile {
  text-align: center;
}
#profile .header {
  padding-bottom: 1.25em !important;
  z-index: 99 !important;
}
#profile .header h1 {
  margin: 0 0 1em 0;
  font-size: 2em;
}
#profile .header .avatar {
  max-width: 8em;
  margin-bottom: 0.5em;
  border-radius: 50%;
}
#profile .header .edit {
  display: block;
  position: absolute;
  float: right;
}
#profile .header .follow {
  cursor: default;
  list-style: none;
  margin: 0;
  padding: 0;
}
#profile .header .follow li {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: none;
  line-height: 1;
}
#profile .header .follow li span {
  color: #e66666;
  margin-right: 1em;
}
#profile .header .follow li a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0;
  text-decoration: none;
}
#profile .header .follow li a:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#profile .header .follow li a:before {
  margin-right: 0.65em;
}
#profile .header .follow li:first-child {
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
}
#profile .header .data {
  cursor: default;
  list-style: none;
  padding: 0;
}
#profile .header .data li {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0 0 0.875em 0;
  text-transform: none;
  border-left: solid 1px;
  padding: 0 0 0 1.25em;
  margin: 0 0 0 1.25em;
  line-height: 1;
}
#profile .header .data li a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0;
  text-decoration: none;
}
#profile .header .data li a:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#profile .header .data li a:before {
  margin-right: 0.65em;
}
#profile .header .data li a.favorites:before {
  content: "";
}
#profile .header .data li a.comments:before {
  content: "";
}
#profile .header .data li:first-child {
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
}
h1 + #profile .header .data, h2 + #profile .header .data, h3 + #profile .header .data, h4 + #profile .header .data, h5 + #profile .header .data, h6 + #profile .header .data {
  margin: -0.6125em 0 1.3125em 0;
}
#profile .moderation a {
  border-top: 1px solid #dbdbdb;
  padding-top: 1.5em;
  color: #aaaaaa;
}
@media screen and (max-width: 980px) {
  #profile .header {
    margin-top: -9em !important;
  }
  #profile .header .avatar {
    max-width: 6em;
  }
  #profile .header .edit {
    padding-left: 2em;
  }
  #profile .header .edit:before {
    margin-right: 0 !important;
    color: inherit !important;
  }
  #profile .header .edit span {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  #profile .header {
    margin-top: -8.5em !important;
  }
  #profile .header .avatar {
    max-width: 5.5em;
  }
  #profile .header .edit {
    padding: 0 2em !important;
  }
  #profile .header .edit:before {
    margin-left: 0.1em !important;
    color: inherit !important;
  }
  #profile .header .edit span {
    display: none;
  }
}

#score-profile {
  display: none;
}

.score-profile-btn {
  margin-top: 0 !important;
}

.trends-bg {
  background: url("../images/trends/background-texture.svg") no-repeat;
  background-position: center;
}

.trends-icon {
  height: 6em;
  max-height: 6em;
  width: auto;
}

.trends-label {
  margin-top: 0.5em !important;
}

#avatarcrop {
  text-align: center;
}
#avatarcrop .cropit-image-input-file {
  display: none !important;
}
#avatarcrop .cropit-preview {
  background-size: cover;
  margin: 0 auto;
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
#avatarcrop .cropit-preview-image-container {
  cursor: move;
  border: 3px dotted #e66666;
  border-radius: 50%;
}
#avatarcrop .cropit-preview-background {
  opacity: 0.2;
  cursor: auto;
}
#avatarcrop .slider-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1.5em 0;
}
#avatarcrop .icon-rotate-right:before {
  content: "";
}
#avatarcrop .icon-rotate-left:before {
  content: "";
}
#avatarcrop .icon-image:before {
  vertical-align: bottom;
  content: "";
}
#avatarcrop .image-size-label {
  margin-top: 10px;
}

.hidden_base64 {
  display: none !important;
}

/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/
/* Brand */
#brand_title {
  /* Other stuff */
}
#brand_title .mask__shape {
  fill: white;
}
#brand_title .shape--fill {
  fill: white;
}
#brand_title .text--transparent {
  fill: transparent;
}
#brand_title .box-with-text {
  position: absolute;
  top: 50%;
  width: 100%;
  padding-top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#brand_title .text-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: hidden;
}
#brand_title .video {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
#brand_title .svg-defs {
  width: 0;
  height: 0;
}
#brand_title .svg-inverted-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
#brand_title .wrap {
  width: 100%;
  height: auto;
  padding: 0.5em 0;
  position: relative;
  font-weight: bold;
  font-size: 3em;
  font-family: "Comfortaa", cursive;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
}

/* Menu */
#menu {
  -moz-transform: translateX();
  -webkit-transform: translateX();
  -ms-transform: translateX();
  transform: translateX();
  -moz-transform: translateX(25em);
  -webkit-transform: translateX(25em);
  -ms-transform: translateX(25em);
  transform: translateX(25em);
  -moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
  -webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
  -ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
  transition: transform 0.5s ease, visibility 0.5s;
  -webkit-overflow-scrolling: touch;
  background: #ffffff;
  border-left: solid 1px #dbdbdb;
  box-shadow: none;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  z-index: 10002;
}
#menu > * {
  border-top: solid 1px #dbdbdb;
  padding: 2.5em;
}
#menu > * > :last-child {
  margin-bottom: 0;
}
#menu > :first-child {
  border-top: 0;
}
#menu .profile {
  text-align: center;
  padding-bottom: 1.25em !important;
}
#menu .profile .user h3 {
  margin: 0 0 1em 0 !important;
}
#menu .profile .user .avatar {
  max-width: 4.5em;
  margin-bottom: 0.5em;
  border-radius: 50%;
}
#menu .profile .user ul {
  list-style: disc;
  margin: 0 0 0.4375em 0;
  padding-left: 1em;
}
#menu .profile .user ul.submenu {
  cursor: default;
  list-style: none;
  padding: 0;
}
#menu .profile .user ul.submenu li {
  display: inline-block;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0;
  text-transform: none;
  border-left: solid 1px;
  padding: 0 0 0 1.25em;
  margin: 0 0 0 1.25em;
  line-height: 1;
}
#menu .profile .user ul.submenu li a {
  color: inherit;
  text-decoration: none;
  border-bottom: 0;
  text-decoration: none;
}
#menu .profile .user ul.submenu li a:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}
#menu .profile .user ul.submenu li a:before {
  margin-right: 0.65em;
}
#menu .profile .user ul.submenu li a.trends:before {
  content: "";
}
#menu .profile .user ul.submenu li a.edit:before {
  content: "";
}
#menu .profile .user ul.submenu li:first-child {
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
}
h1 + #menu .profile .user ul, h2 + #menu .profile .user ul, h3 + #menu .profile .user ul, h4 + #menu .profile .user ul, h5 + #menu .profile .user ul, h6 + #menu .profile .user ul {
  margin: -0.6125em 0 1.3125em 0;
}
#menu .links {
  width: 13em;
  list-style: none;
  padding: 0;
}
#menu .links > li {
  border: 0;
  border-top: dotted 1px #dbdbdb;
  margin: 1.5em 0 0 0;
  padding: 1.5em 0 0 0;
}
#menu .links > li a {
  display: block;
  border-bottom: 0;
}
#menu .links > li a h3 {
  -moz-transition: color 0.2s ease;
  -webkit-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  transition: color 0.2s ease;
  font-size: 1em;
}
#menu .links > li a p {
  font-size: 1em;
  color: #aaaaaa;
  margin-bottom: 0;
  text-decoration: none;
}
#menu .links > li:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
#menu .main-menu {
  display: none;
}
#menu .search-menu {
  display: none;
}
body.is-menu-visible #menu {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
}
@media screen and (max-width: 736px) {
  #menu > * {
    padding: 2em;
  }
}
@media screen and (max-width: 980px) {
  #menu .main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0;
  }
  #menu .main-menu ul > li {
    display: inline-block;
    letter-spacing: 1em;
    font-size: 1.3em;
    padding: 0;
  }
  #menu .main-menu ul > li a {
    border-bottom: 0 !important;
  }
  #menu .main-menu ul > li:last-child {
    letter-spacing: 0;
    padding-right: 0.5em;
  }
}
@media screen and (max-width: 480px) {
  #menu .search-menu {
    display: block;
  }
}
@media screen and (max-width: 360px) {
  #menu .main-menu ul > li {
    font-size: 1em;
  }
}

/*# sourceMappingURL=main.css.map */
