/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/

/* Alerts */

  #alert{
    position: fixed;
    min-width: 100%;
    height: 'auto';
    overflow: 'hidden';
    z-index: 100;

    .alert_close {
      float: right;
      clear: both;
      position: relative;
      font-size: 1.2em;
      line-height: 2.25em;
      cursor: pointer;
      @include icon;
      &:before {
        content: '\f00d';
        margin-right: 0.6em;
      }
    }

    & p {
      font-size: 0.8em;
      width: 90%;
      display: inline-block;
      padding: 1em 0 1em 2em;
      margin: 0;
    }

    & a {
      color: inherit !important;
      font-weight: _font(weight-bold);
    }

    &.warning {
      animation: warning 6s;
      -webkit-animation: warning 6s;
      -moz-animation: warning 6s;
      animation-iteration-count:infinite;
      -webkit-animation-iteration-count:infinite;
      -moz-animation-iteration-count:infinite;

      @keyframes warning {
        0% {background-color: _palette(notifications, warning-alpha-special);}
        50% {background-color: _palette(notifications, warning-special);}
        100%{background-color: _palette(notifications, warning-alpha-special);}
      }

      @-webkit-keyframes warning {
        0% {background-color: _palette(notifications, warning-alpha-special);}
        50% {background-color: _palette(notifications, warning-special);}
        100%{background-color: _palette(notifications, warning-alpha-special);}
      }

      & p {
        @include icon;

        &:before {
          content: '\f06a';
          margin-right: 0.6em;
        }
      }
    }

    &.information {
      animation: information 6s;
      -webkit-animation: information 6s;
      -moz-animation: information 6s;
      animation-iteration-count:infinite;
      -webkit-animation-iteration-count:infinite;
      -moz-animation-iteration-count:infinite;

      @keyframes information {
        0% {background-color: _palette(notifications, information-alpha);}
        50% {background-color: _palette(notifications, information);}
        100%{background-color: _palette(notifications, information-alpha);}
      }

      @-webkit-keyframes information {
        0% {background-color: _palette(notifications, information-alpha);}
        50% {background-color: _palette(notifications, information);}
        100%{background-color: _palette(notifications, information-alpha);}
      }

      & p {
        @include icon;

        &:before {
          content: '\f05a';
          margin-right: 0.6em;
        }
      }
    }

    &.success {
      animation: success 6s;
      -webkit-animation: success 6s;
      -moz-animation: success 6s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;

      @keyframes success {
        0% {background-color: _palette(notifications, success-alpha);}
        50% {background-color: _palette(notifications, success);}
        100%{background-color: _palette(notifications, success-alpha);}
      }

      @-webkit-keyframes success {
        0% {background-color: _palette(notifications, success-alpha);}
        50% {background-color: _palette(notifications, success);}
        100%{background-color: _palette(notifications, success-alpha);}
      }

      & p {
        @include icon;

        &:before {
          content: '\f058';
          margin-right: 0.6em;
        }
      }
    }

    &.error {
      animation: error 6s;
      -webkit-animation: error 6s;
      -moz-animation: error 6s;
      animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;

      @keyframes error {
        0% {background-color: _palette(notifications, error-alpha);}
        50% {background-color: _palette(notifications, error);}
        100%{background-color: _palette(notifications, error-alpha);}
      }

      @-webkit-keyframes error {
        0% {background-color: _palette(notifications, error-alpha);}
        50% {background-color: _palette(notifications, error);}
        100%{background-color: _palette(notifications, error-alpha);}
      }
    }

    & p {
      @include icon;

      &:before {
        content: '\f057';
        margin-right: 0.6em;
      }
    }
  }
