///
/// Polymorph by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Banner */

	#banner {
		@include color-typography(accent2);
		@include color-button(accent2);
		@include vendor('display', 'flex');
		@include vendor('flex-wrap', 'wrap');

		> article {
			@include vendor('display', 'flex');
			@include vendor('align-items', 'center');
			@include vendor('justify-content', 'center');
			padding: 6em 6em;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			overflow: hidden;
			position: relative;

			&:before {
				@include vendor('transition', 'opacity #{_duration(banner)} ease');
				content: '';
				background-color: _palette(accent2, bg);
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.25;
			}

			@for $i from 1 through _misc(max-banners) {
				&:nth-child(#{$i}) {
					&:before {
						@include vendor('transition-delay', '#{(_duration(banner-delay) * ($i - 1))}');
						background-color: darken(_palette(accent2, bg), ($i - 1));
					}
				}
			}

			> img {
				display: none;
			}

			.content {
				max-width: 80%;
				position: relative;
				z-index: 1;
			}

			h1, h2, h3 {
				margin: 0 0 (_size(element-margin) * 0.25) 0;

				a {
					color: _palette(accent2, fg-bold) !important;
				}
			}

			&.full {
				min-height: 65vh;
				width: 100%;

				h2 {
					font-size: 2.25em;
				}

				.content {
					width: 40em;
				}

				@include breakpoint(xlarge) {
					min-height: 70vh;

					h2 {
						font-size: 1.75em;
					}
				}

				@include breakpoint(small) {
					h2 {
						font-size: 1.5em;
					}
				}
			}

			&.half {
				min-height: 50vh;
				width: 50%;

				h2 {
					font-size: 1.75em;
				}

				.content {
					background-color: _palette(login);
					padding: 2em 3em;
					min-width: 30em;
				}

				@include breakpoint(xlarge) {
					h2 {
						font-size: 1.35em;
					}
				}

				@include breakpoint(small) {
					h2 {
						font-size: 1.25em;
					}
				}
			}

		}

		@include breakpoint(medium) {
			> article {
				padding: 6em 2em;

				&.full {
					min-height: 55vh;
				}

				&.half {
					min-height: 35vh;
				}
			}
		}

		@include breakpoint(small) {
			> article {
				padding: 4em 1em;

				&.full {
					min-height: 0;
				}

				&.half {
					min-height: 0;
				}
			}
		}

		@include breakpoint(xsmall) {
			@include vendor('flex-direction', 'column');

			> article {
				@include padding(4em, 2em);

				&.full {
					width: 100%;

					.content {
						width: 100%;
						max-width: 100%;
					}
				}

				&.half {
					width: 100%;

					.content {
						width: 100%;
						max-width: 100%;
					}
				}
			}
		}

		body.is-loading & {
			> article {
				&:before {
					opacity: 1;
				}
			}
		}
	}
