/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/

/* Brand */

  #brand_title {

      .mask__shape {
      fill: white; }

      .shape--fill {
      fill: white; }

      .text--transparent {
      fill: transparent; }

      .box-with-text {
      position: absolute;
      top: 50%;
      width: 100%;
      padding-top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }

      .text-fill {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      overflow: hidden; }

      .video {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%; }

      /* Other stuff */
      .svg-defs {
      width: 0;
      height: 0; }

      .svg-inverted-mask {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0; }

    .wrap {
      width: 100%;
      height: auto;
      padding: 0.5em 0;
      position: relative;
      font-weight: bold;
      font-size: 3em;
      font-family: _font(family-cr);
      margin: 0 auto;
      text-align: left;
      overflow: hidden;
    }
  }
