///
/// Polymorph by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Main */

	#footer {
		> .inner {
			@include vendor('display', 'flex');
			max-width: _size(inner);
			width: 100%;
			margin: 0 auto;

			& a{
				color: inherit;
			}

			> section {
				@include padding(_size(gutter), _size(gutter));
				-ms-flex: 1;
				width: 100%;

				&:nth-child(2n - 1) {
					border-right: solid 1px _palette(border);
				}
			}
		}

		> .copyright {
			border-top: solid 1px _palette(border);
			padding: _size(gutter) _size(gutter) (_size(gutter) * 2) _size(gutter);
			text-align: left;

			> :last-child {
				margin-bottom: 0;
			}

			p {
				color: _palette(fg-light);
				font-size: 0.8em;
			}
		}

		@include breakpoint(medium) {
			> .inner {
				> section {
					@include padding(_size(gutter), _size(gutter-medium));
				}
			}

			> .copyright {
				padding: _size(gutter) _size(gutter-medium) (_size(gutter) * 2) _size(gutter-medium);
			}
		}

		@include breakpoint(small) {
			> .inner {
				> section {
					@include padding(_size(gutter-medium), _size(gutter-small));
				}
			}

			> .copyright {
				padding: _size(gutter-medium) _size(gutter-small);
			}
		}

		@include breakpoint(xsmall) {
			> .inner {
				@include padding(_size(gutter-medium), _size(gutter-small));
				display: block;

				> section {
					padding: 0;
					border: 0 !important;
				}
			}
		}
	}
