///
/// Polymorph by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Header */

	body {
		padding-top: _size(header);
	}

	@include breakpoint(xsmall) {
		body {
			padding-top: _size(header-small) !important;
		}
	}

	#header {
		@include vendor('display', 'flex');
		@include vendor('justify-content', 'space-between');
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: _misc(z-index-base);
		background-color: _palette(bg);
		height: _size(header);
		line-height: _size(header);
		box-shadow: inset 0 -1px 0 0 _palette(border);
		overflow: hidden;

		a {
			color: inherit;
			font-size: 0.9em;
			text-decoration: none;
			padding: 0 1em;
		}

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;

			li {
				display: inline-block;
				padding-left: 0;
			}
		}

		.logo {
			@include color-typography(accent1);
			@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out, color #{_duration(transition)} ease-in-out');
			display: block;
			white-space: nowrap;

			&:hover {
				background-color: lighten(_palette(accent1, bg), 5);
			}

			&:active {
				background-color: darken(_palette(accent1, bg), 5);
			}

			> :last-child {
				margin-bottom: 0;
			}

			.title {
				display: block;
				font-size: 1.2em;
				border-bottom: 0;
				font-family: _font(family-cr);
				color: _palette(accent1, fg-bold) !important;
				padding: 0 2em 0 1.5em;
			}

			@include breakpoint(small) {
			a > span {
				display: none;
			}
			}
		}

		.links {
			@include vendor('flex', '1');
			height: inherit;
			line-height: inherit;
			margin-left: 1em;
			overflow: hidden;

			ul {
				li {
					a {
						border-bottom: 0;
						font-family: _font(family);
						font-size: 1em;
					}
				}
			}
		}

		.main {
			height: inherit;
			line-height: inherit;
			text-align: right !important;

			ul {
				height: inherit;
				line-height: inherit;

				li {
					border-left: solid 1px _palette(border);
					height: inherit;
					line-height: inherit;
					white-space: nowrap;

					> * {
						display: block;
						float: left;
					}

					> a {
						@include icon;
						border-bottom: 0;
						color: _palette(fg-light);
						overflow: hidden;
						position: relative;
						text-indent: 4.5em;
						width: 4.5em;

						&:before {
							display: block;
							height: inherit;
							left: 0;
							line-height: inherit;
							text-align: center;
							text-indent: 0;
							top: 0;
						}
					}
				}
			}
		}

		form {
			margin: 0;

			input {
				display: inline-block;
				height: 2.5em;
				position: relative;
				top: -2px;
				vertical-align: middle;
			}
		}

		#search {
			@include vendor('transition', 'all 0.5s ease');
			max-width: 0;
			opacity: 0;
			overflow: hidden;
			padding: 0;
			white-space: nowrap;

			input {
				width: 12em;
			}

			&.visible {
				max-width: 12.5em;
				opacity: 1;
				padding: 0 0.5em 0 0;
			}
		}

		@include breakpoint(medium) {
			.links {
				display: none;
			}
		}

		@include breakpoint(xsmall) {
			height: 2.75em;
			line-height: 2.75em;

			.main {
				.search {
					display: none;
				}

				.notifications {
					display: none;
				}
			}
		}

		.notifications ul {
			display: block;
			position:absolute !important;
			min-width:140px;

			li {
				position: relative;
			}
		}
	}
