///
/// Polymorph by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Header */

	body {
		padding-top: _size(header);
	}

	#header {
		@include vendor('display', 'flex');
		@include vendor('align-items', 'center');
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: _misc(z-index-base);
		background-color: _palette(bg);
		height: _size(header);
		line-height: _size(header);
		box-shadow: inset 0 -1px 0 0 _palette(border);
		overflow: hidden;

		a {
			color: inherit;
			font-size: 0.9em;
			text-decoration: none;
			padding: 0 (1em / 0.8);
		}

		ul {
			list-style: none;
			margin: 0;
			padding-left: 0;

			li {
				display: inline-block;
				padding-left: 0;
			}
		}

		.logo {
			@include color-typography(accent1);
			@include vendor('transition', 'background-color #{_duration(transition)} ease-in-out, color #{_duration(transition)} ease-in-out');
			display: block;
			white-space: nowrap;

			&:hover {
				background-color: lighten(_palette(accent1, bg), 5);
			}

			&:active {
				background-color: darken(_palette(accent1, bg), 5);
			}

			> :last-child {
				margin-bottom: 0;
			}

			.title {
				display: block;
				font-size: 1.2em;
				border-bottom: 0;
				font-family: _font(family-cr);
				color: _palette(accent1, fg-bold) !important;
				letter-spacing: _font(letter-spacing-heading);
				padding: 0 3em 0 1.5em;
			}
		}
	}

	.links {
			@include vendor('flex', '1');
			height: inherit;
			line-height: inherit;
			margin-left: 1em;
			overflow: hidden;

			> li {
				border-left: solid 1px _palette(border2);
				display: block;
				margin: 0;
				padding: 0;
				position: relative;

				> ul {
					display: none;
				}

				> a {
					border-bottom: 0;
					color: _palette(fg-bold);
					display: block;
					font-size: 0.8em;
					font-weight: _font(weight-bold);
					letter-spacing: _font(letter-spacing-heading);
					padding: 0 (1.65em / 0.8);
					text-decoration: none;
					text-transform: uppercase;

					&.dropdown {
						@include icon;

						&:before {
							content: '\f107';
							color: _palette(fg-light);
							margin-right: 0.5em;
						}
					}
				}

				&.active {
					> a {
						color: _palette(accent1, bg);

						&:before {
							color: _palette(accent1, bg);
						}
					}
				}

				&:first-child {
					border-left: 0;
				}
			}
		}

		.main {
			height: inherit;
			line-height: inherit;

			ul {
				height: inherit;
				line-height: inherit;

				li {
					//border-left: solid 1px _palette(border);
					height: inherit;
					line-height: inherit;
					white-space: nowrap;

					> * {
						display: block;
						float: left;
					}

					> a {
						@include icon;
						border-bottom: 0;
						color: _palette(fg-light);
						overflow: hidden;
						position: relative;
						text-indent: 4em;
						width: 4em;

						&:before {
							display: block;
							height: inherit;
							left: 0;
							line-height: inherit;
							position: absolute;
							text-align: center;
							text-indent: 0;
							top: 0;
							width: inherit;
						}
					}
				}
			}
		}

		form {
			margin: 0;

			input {
				display: inline-block;
				position: relative;
				margin-top: 8px;
				vertical-align: middle;
			}
		}

		#search {
			@include vendor('transition', 'all 0.5s ease');
			max-width: 0;
			opacity: 0;
			overflow: hidden;
			padding: 0;
			white-space: nowrap;

			input {
				width: 12em;
			}

			&.visible {
				max-width: 12.5em;
				opacity: 1;
				padding: 0 0.5em 0 0;
			}
		}

		@include breakpoint(medium) {
			.links {
				display: none;
			}
		}


	@include breakpoint(large) {
		#header {
			// nav none
		}
	}

	@include breakpoint(small) {
		body {
			padding-top: _size(header-small);
		}

		#header {
			height: _size(header-small);
			line-height: _size(header-small);

			.logo {
				.title {
					padding: 0 1.25em;
				}
			}

			.main {
				.search {
					display: none;
				}
			}
		}
	}

	@include breakpoint(xsmall) {
		#header {
			.logo {
				.title {
					.extra {
						display: none;
					}
				}
			}
		}
	}
