/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/

/* Errors */

  #http_errors {
    padding: 0 !important;

      .img_http_error {
        max-height: 10em !important;
      }

      .major {
        width: 50vw;
        margin: 0 auto;
      }

      & h1 {
        font-family: _font(family-fixed) !important;
      }

      & h2 {
        padding: 1.25em 0;
        margin: 0 !important;
      }

      & a {
        color: inherit !important;
      }

      & p {
        font-size: 0.9em;
        text-align: justify;
        font-family: _family(family-fixed);
      }

      @include breakpoint(medium) {
        .img_http_error {
          max-height: 7em !important;
          padding-bottom: 1em;
        }

        .major {
          width: 100vw;
          margin: 0 auto;
        }

        & h2 {
          padding: 0.5em 0;
        }

        & p {
          padding-top: 1em;
          margin-top: 0.5em;
        }
  		}

      /* Errors */

      .form_warning_special{
        font-size: 1em;
        color: _palette(notifications, warning-special);

        & p {
          padding: 0;
          border-left: 0;
          margin-bottom: 1em;
          @include icon;

          &:before {
            content: '\f071';
            margin-right: 0.6em;
          }
        }
        @include breakpoint(medium) {
          & p{
            border-top: 0;
            margin-top: 0;
          }
        }
      }
    }
