/*
	\\cR | colección Rorikon
	coleccionr.net | info@coleccionr.net
	License: coleccionr.net/about/legal
*/

/* Landing Video Backrgound */

  #landing_video {
    overflow: hidden;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
  }

/* Login */

  #login_content {
    @include color-typography(accent2);
		@include color-button(accent2);
		@include vendor('display', 'flex');
		@include vendor('flex-wrap', 'wrap');
    padding: 2em 3em;
		background-color: _palette(login);

      & h2 {
        padding-bottom: 0.5em;
      }

      & a {
        font-size: 0.8em;
        color: inherit !important;
      }

      & p {
        font-size: 0.9em;
        text-align: justify;
        padding-left: 1.5em;
        border-left: 1px dotted;
      }

      & li {
        text-align: left !important;

        &:last-child {
          padding-top: 1em;
        }
      }

      & input[type="checkbox"] {

        & + label {
          color: inherit;
          font-size: 0.75em;

          &:before {
            //color: _palette(accent1, fg);
          }
        }
      }

      @include breakpoint(medium) {
        & h2 {
          padding-bottom: 0.25em;
        }

        & p {
          padding-left: 0;
          border-left: 0;
          padding-top: 1em;
          margin-top: 0.5em;
          border-top: 1px dotted;
        }
  		}

      /* Errors */

      .form_warning_special{
        font-size: 1em;
        color: _palette(notifications, warning-special);

        & p {
          padding: 0;
          border-left: 0;
          margin-bottom: 1em;
          @include icon;

          &:before {
            content: '\f071';
            margin-right: 0.6em;
          }
        }
        @include breakpoint(medium) {
          & p{
            border-top: 0;
            margin-top: 0;
          }
        }
      }
    }
