///
/// Polymorph by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Main */

	#main {
		> .main {
			border-bottom: solid 1px _palette(border);
			background-image: url('../images/background-texture.svg');

			> .inner {
				@include padding(5em, _size(gutter));
				background-image: -webkit-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
				background-image:    -moz-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%); /* For Firefox (3.6 to 15) */
				background-image:      -o-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%); /* For old Opera (11.1 to 12.0) */
				background-image:         linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%); /* Standard syntax; must be last */
				max-width: _size(inner);
				width: 100%;
				margin: 0 auto;
			}

			&.whithout {
				background: _palette(bg);
			}

			& .margin{
				display: none;
			}


		@include breakpoint(medium) {
			> .main {
				> .inner {
					@include padding(4em, _size(gutter-medium));
				}
			}

			& .margin{
				display: block;
			}
		}

		@include breakpoint(small) {
			> .main {
				> .inner {
					@include padding(2em, _size(gutter-small));
				}
			}
		}
	}
}
