///
/// Future Imperfect by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Menu */

	#menu {
		@include vendor('transform', 'translateX(#{_size(menu)})');
		//@include vendor('transition', (
		//	'transform #{_duration(menu)} ease',
		//	'visibility #{_duration(menu)}'
		//));
		-moz-transform: translateX(25em);
		-webkit-transform: translateX(25em);
		-ms-transform: translateX(25em);
		transform: translateX(25em);
		-moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background: _palette(bg);
		border-left: solid 1px _palette(border);
		box-shadow: none;
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		position: fixed;
		right: 0;
		top: 0;
		visibility: hidden;
		width: _size(menu);
		z-index: _misc(z-index-base) + 2;

		> * {
			border-top: solid 1px _palette(border);
			padding: _size(section-spacing);

			> :last-child {
				margin-bottom: 0;
			}
		}

		> :first-child {
			border-top: 0;
		}

		.profile {
			text-align: center;
			padding-bottom: (_size(section-spacing)/2) !important;

			.user {
				& h3 {
					margin: 0 0 1em 0 !important;
				}

				& .avatar {
					max-width: 4.5em;
					margin-bottom: 0.5em;
					border-radius: 50%;
				}

				ul {
					list-style: disc;
					margin: 0 0 (_size(element-margin) * 0.25) 0;
					padding-left: 1em;

					&.submenu {
						cursor: default;
						list-style: none;
						padding: 0;

						li {
							display: inline-block;
							font-size: 0.8em;
							font-weight: _font(weight-bold);
							letter-spacing: _font(letter-spacing-heading);
							text-transform: none;
							border-left: solid 1px;
							padding: 0 0 0 1.25em;
							margin: 0 0 0 1.25em;
							line-height: 1;

							a {
								color: inherit;
								text-decoration: none;
								border-bottom: 0;
								@include icon;

								&:before {
									margin-right: 0.65em;
								}

								&.trends {
									&:before {
										content: '\f11b';
									}
								}

								&.edit {
									&:before {
										content: '\f044';
									}
								}
							}
							&:first-child {
								padding-left: 0;
								margin-left: 0;
								border-left: 0;
							}
						}
					}

					h1 + &,
					h2 + &,
					h3 + &,
					h4 + &,
					h5 + &,
					h6 + & {
						margin: (_size(element-margin) * -0.35) 0 (_size(element-margin) * 0.75) 0;
					}
				}
			}
		}

		.links {
			width: 13em;
			list-style: none;
			padding: 0;

			> li {
				border: 0;
				border-top: dotted 1px _palette(border);
				margin: 1.5em 0 0 0;
				padding: 1.5em 0 0 0;

				a {
					display: block;
					border-bottom: 0;

					h3 {
						@include vendor('transition', 'color #{_duration(transition)} ease');
						font-size: 1em;
					}

					p {
						font-size: 1em;
						color: _palette(fg-light);
						margin-bottom: 0;
						text-decoration: none;
					}

					&:hover {
						h3 {
							color: _palette(accent);
						}
					}
				}

				&:first-child {
					border-top: 0;
					margin-top: 0;
					padding-top: 0;
				}
			}
		}

		.main-menu{
			display: none;
		}

		.search-menu{
			display: none;
		}

		body.is-menu-visible & {
			@include vendor('transform', 'translateX(0)');
			visibility: visible;
		}

		@include breakpoint(small) {
			> * {
				padding: _size(section-spacing-small);
			}
		}

		@include breakpoint(medium) {
			.main-menu {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 1.5em 0 ;

				ul > li{
					display: inline-block;
					letter-spacing: 1em;
					font-size: 1.3em;
					padding: 0;

					a {
						border-bottom: 0 !important;
					}

					&:last-child {
						letter-spacing: 0;
						padding-right: 0.5em;
					}
				}
			}
		}

		@include breakpoint(xsmall) {
			.search-menu{
				display: block;
			}
		}

		@include breakpoint(xxsmall) {
			.main-menu{
				ul > li {
					font-size: 1em;
				}
			}
		}
	}
