///
/// Future Imperfect by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Profile */

	#profile {
		text-align: center;

		.header {
			padding-bottom: (_size(section-spacing)/2) !important;
			z-index: 99 !important;

			h1 {
				margin: 0 0 1em 0;
				font-size: 2em;
			}

			.avatar {
				max-width: 8em;
				margin-bottom: 0.5em;
				border-radius: 50%;
			}

			.edit {
				display: block;
				position: absolute;
				float: right;
			}

			.follow {
				cursor: default;
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					display: inline-block;
					color: inherit;
					text-decoration: none;
					font-size: 0.8em;
					font-weight: _font(weight-bold);
					letter-spacing: _font(letter-spacing-heading);
					text-transform: none;
					line-height: 1;

					span {
						color: _palette(accent1, bg);
						margin-right: 1em;
					}

					a {
						color: inherit;
						text-decoration: none;
						border-bottom: 0;
						@include icon;

						&:before {
							margin-right: 0.65em;
						}

						&.follows {

						}
					}

					&:first-child {
						padding-left: 0;
						margin-left: 0;
						border-left: 0;
					}
				}
			}

			.data {
				cursor: default;
				list-style: none;
				padding: 0;

				li {
					display: inline-block;
					font-size: 0.8em;
					font-weight: _font(weight-bold);
					letter-spacing: _font(letter-spacing-heading);
					margin: 0 0 (_size(element-margin) * 0.5) 0;
					text-transform: none;
					border-left: solid 1px;
					padding: 0 0 0 1.25em;
					margin: 0 0 0 1.25em;
					line-height: 1;

					a {
						color: inherit;
						text-decoration: none;
						border-bottom: 0;
						@include icon;

						&:before {
							margin-right: 0.65em;
						}

						&.favorites {
							&:before {
								content: '\f08a';
							}
						}

						&.comments {
							&:before {
								content: '\f0e5';
							}
						}
					}

					&:first-child {
						padding-left: 0;
						margin-left: 0;
						border-left: 0;
					}
				}

				h1 + &,
				h2 + &,
				h3 + &,
				h4 + &,
				h5 + &,
				h6 + & {
					margin: (_size(element-margin) * -0.35) 0 (_size(element-margin) * 0.75) 0;
				}
			}
		}

		.moderation {
			a {
				border-top: 1px solid _palette(border);
				padding-top: 1.5em;
				color: _palette(fg-light);
			}
		}

		@include breakpoint(medium){
			.header {
				margin-top: -9em !important;

				.avatar{
					max-width: 6em;
				}

				.edit {
					padding-left: 2em;

					&:before {
						margin-right: 0 !important;
						color: inherit !important;
					}

					& span {
						display: none;
					}
				}
			}
		}

		@include breakpoint(xsmall){
			.header {
				margin-top: -8.5em !important;

				.avatar{
					max-width: 5.5em;
				}

				.edit {
					padding: 0 2em !important;

					&:before {
						margin-left: 0.1em !important;
						color: inherit !important;
					}

					& span {
						display: none;
					}
				}
			}
		}
	}

	#score-profile {
		display: none;
	}

	.score-profile-btn {
		margin-top: 0 !important;
	}

	.trends-bg {
		background: url('../images/trends/background-texture.svg') no-repeat;
		background-position: center;
	}

	.trends-icon {
		height: 6em;
		max-height: 6em;
		width: auto;
	}

	.trends-label {
		margin-top: 0.5em !important;
	}

	#avatarcrop {
		text-align: center;

		.cropit-image-input-file {
			display: none !important;
		}

		.cropit-preview {
      background-size: cover;
			margin: 0 auto;
      width: 250px;
      height: 250px;
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;
    }

    .cropit-preview-image-container {
      cursor: move;
			border: 3px dotted _palette(accent1, bg);
      border-radius: 50%;
    }

    .cropit-preview-background {
      opacity: .2;
      cursor: auto;
    }

		.slider-wrapper {
			display: flex;
			justify-content: center;
			align-content: center;
			padding: 1.5em 0;
		}

		.icon-rotate-right:before {
			content: "\f01e";
		}

		.icon-rotate-left:before {
			content: "\f0e2";
		}

		.icon-image:before {
			vertical-align: bottom;
			content: "\f03e";
		}

    .image-size-label {
      margin-top: 10px;
    }
	}

	.hidden_base64 {
		display: none !important;
	}
