///
/// Future Imperfect by Pixelarity
/// pixelarity.com | hello@pixelarity.com
/// License: pixelarity.com/license
///

/* Wrapper */

	#wrapper {
		-moz-flex-direction: row-reverse;
	  -webkit-flex-direction: row-reverse;
	  -ms-flex-direction: row-reverse;
	  flex-direction: row-reverse;
	  -moz-transition: opacity 0.5s ease;
	  -webkit-transition: opacity 0.5s ease;
	  -ms-transition: opacity 0.5s ease;
	  transition: opacity 0.5s ease;
		//@include vendor('menu-transition', 'opacity #{_duration(menu)} ease');
		opacity: 1;

		body.is-menu-visible & {
			opacity: 0.15;
		}
	}
