// Misc.
	$misc: (
		z-index-base:		10000,
		max-banners:		10
	);

// Duration.
	$duration: (
		navPanel:			0.5s,
		transition:			0.2s,
		banner:				2.25s,
		banner-delay:		0.375s
	);

// Size.
	$size: (
		element-height:		2.75em,
		element-margin:		1.75em,
		section-spacing:		 2.5em,
		section-spacing-small:		 2em,
		gutter:				2.75em,
		gutter-medium:		2em,
		gutter-small:		1em,
		inner:				72em,
		header:				3.75em,
		header-small:		2.75em,
		navPanel:			22em
	);

// Font.
	$font: (
		family:				('Source Sans Pro', sans-serif),
		family-cr:				('Comfortaa', cursive),
		family-fixed:		('Courier New', monospace),
		weight:				400,
		weight-semibold:		600,
		weight-bold:		700,
		letter-spacing-heading: 0,
		kerning:			0.25em
	);

// Palette.
	$palette: (
		bg:					#ffffff,
		fg:					#404040,
		fg-bold:			#404040,
		fg-light:			#aaaaaa,
		border:				#dbdbdb,
		border-bg:			rgba(144,144,144,0.075),
		border2:			#f4f4f4,
		border2-bg:			rgba(144,144,144,0.2),
		login:			rgba(51,51,51,0.75),
		highlight:			accent1,

		accent1: (
			bg:				#e66666,
			fg:				#ffffff,
			fg-bold:		#ffffff,
			fg-light:		rgba(255,255,255,0.75),
			border:			rgba(255,255,255,0.25),
			border-bg:		rgba(255,255,255,0.075),
			border2:		rgba(255,255,255,0.5),
			border2-bg:		rgba(255,255,255,0.2),
			highlight:		accent1
		),

		accent2: (
			bg:				#333333,
			fg:				#ffffff,
			fg-bold:		#ffffff,
			fg-light:		rgba(255,255,255,0.75),
			border:			#ffffff,
			border-bg:		rgba(255,255,255,0.075),
			border2:		#ffffff,
			border2-bg:		rgba(255,255,255,0.2),
			highlight:		accent1
		),

		notifications: (
			warning:				#c6a800,
			warning-alpha:				rgba(#c6a800, 0.7),
			warning-special:				#e7e384,
			warning-alpha-special:				rgba(#e7e384, 0.7),
			information:				#84dae7,
			information-alpha:				rgba(#84dae7, 0.7),
			success:				#97e784,
			success-alpha:				rgba(#97e784, 0.7),
			error:				#e78484,
			error-alpha:				rgba(#e78484, 0.7)
		),

		twitter: (
			bg:				#84dae7,
			fg:				#ffffff
		),

		facebook: (
			bg:				#75aae6,
			fg:				#ffffff
		),

		instagram: (
			bg:				#dcc3ad,
			fg:				#ffffff
		),

		whatsapp: (
			bg:				#91d77d,
			fg:				#ffffff
		),

		youtube: (
			bg:				#e78484,
			fg:				#ffffff
		),
	);
